In [128]:
import pandas as pd
import numpy as np

df_sample = pd.read_csv("/Users/joshsolis/repos/joshdsolis/DS-Unit-4-Sprint-1-Tree-Ensembles/module1-decision-trees/ds1-tree-ensembles/sample_submission.csv")
df_train_f = pd.read_csv("/Users/joshsolis/repos/joshdsolis/DS-Unit-4-Sprint-1-Tree-Ensembles/module1-decision-trees/ds1-tree-ensembles/train_features.csv")
df_train_l = pd.read_csv("/Users/joshsolis/repos/joshdsolis/DS-Unit-4-Sprint-1-Tree-Ensembles/module1-decision-trees/ds1-tree-ensembles/train_labels.csv")

df_test = pd.read_csv("/Users/joshsolis/repos/joshdsolis/DS-Unit-4-Sprint-1-Tree-Ensembles/module1-decision-trees/ds1-tree-ensembles/test_features.csv")

In [33]:
train_objs_num = len(df_train_f)
dataset = pd.concat(objs=[df_train_f, df_test], axis=0).dropna(axis=1)

df_train_f_1 = dataset[:train_objs_num]
df_test_1 = dataset[train_objs_num:]

In [34]:
from sklearn.model_selection import train_test_split

X = df_train_f_1.dropna(axis=1)
y = df_train_l['charged_off']

X_train, X_test, y_train, y_test = train_test_split(X, y)

In [35]:
pd.set_option('display.max_columns', None)


df_train_l.head()

      id  charged_off
0  43373            0
1  24414            0
2  46723            0
3  24878            0
4  39038            0

In [36]:
from sklearn.tree import DecisionTreeClassifier
import category_encoders as ce
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler


pipeline = make_pipeline(
    
    ce.OneHotEncoder(),
    DecisionTreeClassifier()
)

pipeline.fit(X_train, y_train)
y_pred = pipeline.predict(X_test)

In [26]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test,y_pred)

0.7841475045035499

In [27]:
y_pred = pipeline.predict(df_test.dropna(axis=1))

In [30]:
y_pred = pd.DataFrame(y_pred,index=None)

y_pred['id'] = df_test['id']
y_pred.rename(columns= {0 : 'charged_off'},inplace=True)
cols = ['id', 'charged_off']
y_pred = y_pred[cols]

y_pred.head()

      id  charged_off
0  57146            0
1  20988            0
2  10031            0
3  33892            0
4  35374            0

In [31]:
y_pred.to_csv('submit1', index=False)

In [69]:
df_train_f.head()

,id,member_id,loan_amnt,funded_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,collections_12_mths_ex_med,mths_since_last_major_derog,application_type,annual_inc_joint,dti_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,disbursement_method
0,43373,NaN,12000,12000,36 months,16.02%,422.01,C,C5,Driver,4 years,MORTGAGE,81000.0,NaN,NaN,debt_consolidation,Debt consolidation,280xx,NC,12.76,0,Dec-2005,1,48.0,NaN,7,0,4912,23.5%,15,w,0,48.0,Individual,NaN,NaN,0,0,174783,1,2,0,4,13.0,33668,82.0,2,5,2962,63.0,20900,1,1,2,9,24969.0,588.0,89.3,0,0,145.0,23,1,1,1,8.0,NaN,1.0,NaN,2,2,2,2,2,9,4,5,2,7,0.0,0,0,2,92.9,100.0,0,0,206618,38580,5500,40863,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash
1,24414,NaN,6300,6300,36 months,14.07%,215.54,C,C3,GMP Lead,4 years,RENT,39000.0,NaN,NaN,debt_consolidation,Debt consolidation,920xx,CA,21.42,0,Mar-2012,1,NaN,NaN,10,0,11876,59.4%,12,w,0,NaN,Individual,NaN,NaN,0,0,31046,0,1,0,2,14.0,19170,83.0,3,8,5153,72.0,20000,1,0,1,10,3105.0,6877.0,59.3,0,0,17.0,72,8,8,0,8.0,NaN,6.0,NaN,0,6,7,7,8,2,9,10,7,10,0.0,0,0,3,100.0,42.9,0,0,43140,31046,16900,23140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash
2,46723,NaN,4500,4500,36 months,7.21%,139.38,A,A3,Accounts,3 years,RENT,78000.0,NaN,NaN,debt_consolidation,Debt consolidation,906xx,CA,2.17,0,May-2000,2,NaN,NaN,13,0,1715,5.2%,19,w,0,NaN,Individual,NaN,NaN,0,0,35329,0,8,1,2,10.0,33614,106.0,1,1,1196,54.0,33300,4,0,3,3,2718.0,21585.0,7.4,0,0,166.0,218,10,10,0,31.0,NaN,1.0,NaN,0,3,3,3,4,13,5,6,3,13,0.0,0,0,2,100.0,0.0,0,0,65092,35329,23300,31792,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash
3,24878,NaN,12000,12000,36 months,9.44%,384.06,B,B1,Client Processing Associate,10+ years,MORTGAGE,62000.0,NaN,NaN,debt_consolidation,Debt consolidation,441xx,OH,13.76,0,Feb-2003,0,NaN,NaN,22,0,9404,16.3%,33,w,0,NaN,Individual,NaN,NaN,0,0,75160,4,1,0,2,13.0,17123,67.0,6,9,6898,32.0,57600,3,1,2,12,3579.0,33602.0,17.0,0,0,162.0,179,1,1,1,1.0,NaN,5.0,NaN,0,1,3,9,13,7,20,25,3,22,0.0,0,0,7,100.0,0.0,0,0,133065,26527,40500,25465,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash
4,39038,NaN,12000,12000,36 months,22.35%,460.47,D,D5,Construction Operator,10+ years,MORTGAGE,70000.0,NaN,NaN,debt_consolidation,Debt consolidation,751xx,TX,14.04,4,Nov-2001,2,13.0,NaN,18,0,17895,24.2%,45,w,0,13.0,Individual,NaN,NaN,0,7218,113702,9,2,2,4,6.0,16711,68.0,9,10,5373,35.0,73900,3,6,3,14,6317.0,32863.0,24.1,0,0,159.0,201,0,0,1,0.0,62.0,3.0,62.0,6,9,11,11,14,22,15,20,11,18,0.0,0,2,11,82.2,9.1,0,0,192842,34606,43300,24499,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash

In [70]:
df_train_f.dtypes

id                                       int64
member_id                              float64
loan_amnt                                int64
funded_amnt                              int64
term                                    object
int_rate                                object
installment                            float64
grade                                   object
sub_grade                               object
emp_title                               object
emp_length                              object
home_ownership                          object
annual_inc                             float64
url                                    float64
desc                                   float64
purpose                                 object
title                                   object
zip_code                                object
addr_state                              object
dti                                    float64
delinq_2yrs                              int64
earliest_cr_line                        object
inq_last_6mths                           int64
mths_since_last_delinq                 float64
mths_since_last_record                 float64
open_acc                                 int64
pub_rec                                  int64
revol_bal                                int64
revol_util                              object
total_acc                                int64
                                        ...
num_bc_tl                                int64
num_il_tl                                int64
num_op_rev_tl                            int64
num_rev_accts                            int64
num_rev_tl_bal_gt_0                      int64
num_sats                                 int64
num_tl_120dpd_2m                       float64
num_tl_30dpd                             int64
num_tl_90g_dpd_24m                       int64
num_tl_op_past_12m                       int64
pct_tl_nvr_dlq                         float64
percent_bc_gt_75                       float64
pub_rec_bankruptcies                     int64
tax_liens                                int64
tot_hi_cred_lim                          int64
total_bal_ex_mort                        int64
total_bc_limit                           int64
total_il_high_credit_limit               int64
revol_bal_joint                        float64
sec_app_earliest_cr_line                object
sec_app_inq_last_6mths                 float64
sec_app_mort_acc                       float64
sec_app_open_acc                       float64
sec_app_revol_util                     float64
sec_app_open_act_il                    float64
sec_app_num_rev_accts                  float64
sec_app_chargeoff_within_12_mths       float64
sec_app_collections_12_mths_ex_med     float64
sec_app_mths_since_last_major_derog    float64
disbursement_method                     object
Length: 103, dtype: object

In [169]:
df_train_f_2 = df_train_f
df_test_2 = df_test

def wrangle(dataset):
    # Drop some columns
    dataset = dataset.drop(columns='id')  # id is random
    dataset = dataset.drop(columns=['member_id', 'url', 'desc'])  # All null
    dataset = dataset.drop(columns='title')  # Duplicative of purpose
    dataset = dataset.drop(columns='grade')  # Duplicative of sub_grade
    dataset = dataset.drop(columns=['emp_title', 'zip_code'])
    
    # Transform sub_grade from "A1" - "G5" to 1.1 - 7.5
    def wrangle_sub_grade(dataset):
        first_digit = ord(dataset[0]) - 64
        second_digit = int(dataset[1])
        return first_digit + second_digit/10
    
    dataset['sub_grade'] = dataset['sub_grade'].apply(wrangle_sub_grade)
    # Making term column into an int dtype
    dataset['term'] = dataset.term.str.replace('months' , '')
    dataset['term'] = dataset['term'].astype(int)

    # Making int_rate column into float dtype
    dataset['int_rate'] = dataset.int_rate.str.replace('%' , '')
    dataset['int_rate'] = dataset['int_rate'].astype(float)

    # Making emp_length column into int dtype
    dataset['emp_length'] = dataset.emp_length.str.replace('years','')
    dataset['emp_length'] = dataset.emp_length.str.replace('+','')

    # Transform earliest_cr_line to an integer: how many days it's been open
    X['earliest_cr_line'] = pd.to_datetime(X['earliest_cr_line'], infer_datetime_format=True)
    X['earliest_cr_line'] = pd.Timestamp.today() - X['earliest_cr_line']
    X['earliest_cr_line'] = X['earliest_cr_line'].dt.days

    # Making revol_util into float dtype
    dataset['revol_util'] = dataset.revol_util.str.replace('%' , '')
    dataset['revol_util'] = dataset['revol_util'].astype(float)
    
    # Making new column for if they were delinq at all
    dataset['was_delinq'] = np.where(dataset.mths_since_last_delinq.isnull(), 0, 1)
    
    # Transform features with many nulls to binary flags
    many_nulls = ['sec_app_mths_since_last_major_derog',
                  'sec_app_revol_util',
                  'sec_app_earliest_cr_line',
                  'sec_app_mort_acc',
                  'dti_joint',
                  'sec_app_collections_12_mths_ex_med',
                  'sec_app_chargeoff_within_12_mths',
                  'sec_app_num_rev_accts',
                  'sec_app_open_act_il',
                  'sec_app_open_acc',
                  'revol_bal_joint',
                  'annual_inc_joint',
                  'sec_app_inq_last_6mths',
                  'mths_since_last_record',
                  'mths_since_recent_bc_dlq',
                  'mths_since_last_major_derog',
                  'mths_since_recent_revol_delinq',
                  'mths_since_last_delinq',
                  'il_util',
                  'emp_length',
                  'mths_since_recent_inq',
                  'mo_sin_old_il_acct',
                  'mths_since_rcnt_il',
                  'num_tl_120dpd_2m',
                  'bc_util',
                  'percent_bc_gt_75',
                  'bc_open_to_buy',
                  'mths_since_recent_bc']

    for col in many_nulls:
        dataset[col] = dataset[col].isnull()
    
    # For features with few nulls, do mean imputation
    for col in dataset:
        if dataset[col].isnull().sum() > 0:
            dataset[col] = dataset[col].fillna(dataset[col].mean())
    
    dataset['int_amt'] = dataset['int_rate']*(dataset['loan_amnt']+ dataset['funded_amnt'])
    
    return dataset

df_train_f_2 = wrangle(df_train_f_2).dropna(axis=1)
df_test_2 = wrangle(df_test_2).dropna(axis=1)
df_train_f_2.head()

,loan_amnt,funded_amnt,term,int_rate,installment,sub_grade,emp_length,home_ownership,annual_inc,purpose,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,collections_12_mths_ex_med,mths_since_last_major_derog,application_type,annual_inc_joint,dti_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,disbursement_method,was_delinq,int_amt
0,12000,12000,36,16.02,422.01,3.5,False,MORTGAGE,81000.0,debt_consolidation,NC,12.76,0,Dec-2005,1,False,True,7,0,4912,23.5,15,w,0,False,Individual,True,True,0,0,174783,1,2,0,4,False,33668,False,2,5,2962,63.0,20900,1,1,2,9,24969.0,False,False,0,0,False,23,1,1,1,False,True,False,True,2,2,2,2,2,9,4,5,2,7,False,0,0,2,92.9,False,0,0,206618,38580,5500,40863,True,True,True,True,True,True,True,True,True,True,True,Cash,1,384480.0
1,6300,6300,36,14.07,215.54,3.3,False,RENT,39000.0,debt_consolidation,CA,21.42,0,Mar-2012,1,True,True,10,0,11876,59.4,12,w,0,True,Individual,True,True,0,0,31046,0,1,0,2,False,19170,False,3,8,5153,72.0,20000,1,0,1,10,3105.0,False,False,0,0,False,72,8,8,0,False,True,False,True,0,6,7,7,8,2,9,10,7,10,False,0,0,3,100.0,False,0,0,43140,31046,16900,23140,True,True,True,True,True,True,True,True,True,True,True,Cash,0,177282.0
2,4500,4500,36,7.21,139.38,1.3,False,RENT,78000.0,debt_consolidation,CA,2.17,0,May-2000,2,True,True,13,0,1715,5.2,19,w,0,True,Individual,True,True,0,0,35329,0,8,1,2,False,33614,False,1,1,1196,54.0,33300,4,0,3,3,2718.0,False,False,0,0,False,218,10,10,0,False,True,False,True,0,3,3,3,4,13,5,6,3,13,False,0,0,2,100.0,False,0,0,65092,35329,23300,31792,True,True,True,True,True,True,True,True,True,True,True,Cash,0,64890.0
3,12000,12000,36,9.44,384.06,2.1,False,MORTGAGE,62000.0,debt_consolidation,OH,13.76,0,Feb-2003,0,True,True,22,0,9404,16.3,33,w,0,True,Individual,True,True,0,0,75160,4,1,0,2,False,17123,False,6,9,6898,32.0,57600,3,1,2,12,3579.0,False,False,0,0,False,179,1,1,1,False,True,False,True,0,1,3,9,13,7,20,25,3,22,False,0,0,7,100.0,False,0,0,133065,26527,40500,25465,True,True,True,True,True,True,True,True,True,True,True,Cash,0,226560.0
4,12000,12000,36,22.35,460.47,4.5,False,MORTGAGE,70000.0,debt_consolidation,TX,14.04,4,Nov-2001,2,False,True,18,0,17895,24.2,45,w,0,False,Individual,True,True,0,7218,113702,9,2,2,4,False,16711,False,9,10,5373,35.0,73900,3,6,3,14,6317.0,False,False,0,0,False,201,0,0,1,False,False,False,False,6,9,11,11,14,22,15,20,11,18,False,0,2,11,82.2,False,0,0,192842,34606,43300,24499,True,True,True,True,True,True,True,True,True,True,True,Cash,1,536400.0

In [146]:
df_train_f_2.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37745 entries, 0 to 37744
Data columns (total 96 columns):
loan_amnt                              37745 non-null int64
funded_amnt                            37745 non-null int64
term                                   37745 non-null int64
int_rate                               37745 non-null float64
installment                            37745 non-null float64
sub_grade                              37745 non-null float64
emp_length                             37745 non-null bool
home_ownership                         37745 non-null object
annual_inc                             37745 non-null float64
purpose                                37745 non-null object
addr_state                             37745 non-null object
dti                                    37745 non-null float64
delinq_2yrs                            37745 non-null int64
earliest_cr_line                       37745 non-null datetime64[ns]
inq_last_6mths                         37745 non-null int64
mths_since_last_delinq                 37745 non-null bool
mths_since_last_record                 37745 non-null bool
open_acc                               37745 non-null int64
pub_rec                                37745 non-null int64
revol_bal                              37745 non-null int64
revol_util                             37745 non-null float64
total_acc                              37745 non-null int64
initial_list_status                    37745 non-null object
collections_12_mths_ex_med             37745 non-null int64
mths_since_last_major_derog            37745 non-null bool
application_type                       37745 non-null object
annual_inc_joint                       37745 non-null bool
dti_joint                              37745 non-null bool
acc_now_delinq                         37745 non-null int64
tot_coll_amt                           37745 non-null int64
tot_cur_bal                            37745 non-null int64
open_acc_6m                            37745 non-null int64
open_act_il                            37745 non-null int64
open_il_12m                            37745 non-null int64
open_il_24m                            37745 non-null int64
mths_since_rcnt_il                     37745 non-null bool
total_bal_il                           37745 non-null int64
il_util                                37745 non-null bool
open_rv_12m                            37745 non-null int64
open_rv_24m                            37745 non-null int64
max_bal_bc                             37745 non-null int64
all_util                               37745 non-null float64
total_rev_hi_lim                       37745 non-null int64
inq_fi                                 37745 non-null int64
total_cu_tl                            37745 non-null int64
inq_last_12m                           37745 non-null int64
acc_open_past_24mths                   37745 non-null int64
avg_cur_bal                            37745 non-null float64
bc_open_to_buy                         37745 non-null bool
bc_util                                37745 non-null bool
chargeoff_within_12_mths               37745 non-null int64
delinq_amnt                            37745 non-null int64
mo_sin_old_il_acct                     37745 non-null bool
mo_sin_old_rev_tl_op                   37745 non-null int64
mo_sin_rcnt_rev_tl_op                  37745 non-null int64
mo_sin_rcnt_tl                         37745 non-null int64
mort_acc                               37745 non-null int64
mths_since_recent_bc                   37745 non-null bool
mths_since_recent_bc_dlq               37745 non-null bool
mths_since_recent_inq                  37745 non-null bool
mths_since_recent_revol_delinq         37745 non-null bool
num_accts_ever_120_pd                  37745 non-null int64
num_actv_bc_tl                         37745 non-null int64
num_actv_rev_tl                        37745 non-null int64
num_bc_sats                            37745 non-null int64
num_bc_tl                              37745 non-null int64
num_il_tl                              37745 non-null int64
num_op_rev_tl                          37745 non-null int64
num_rev_accts                          37745 non-null int64
num_rev_tl_bal_gt_0                    37745 non-null int64
num_sats                               37745 non-null int64
num_tl_120dpd_2m                       37745 non-null bool
num_tl_30dpd                           37745 non-null int64
num_tl_90g_dpd_24m                     37745 non-null int64
num_tl_op_past_12m                     37745 non-null int64
pct_tl_nvr_dlq                         37745 non-null float64
percent_bc_gt_75                       37745 non-null bool
pub_rec_bankruptcies                   37745 non-null int64
tax_liens                              37745 non-null int64
tot_hi_cred_lim                        37745 non-null int64
total_bal_ex_mort                      37745 non-null int64
total_bc_limit                         37745 non-null int64
total_il_high_credit_limit             37745 non-null int64
revol_bal_joint                        37745 non-null bool
sec_app_earliest_cr_line               37745 non-null bool
sec_app_inq_last_6mths                 37745 non-null bool
sec_app_mort_acc                       37745 non-null bool
sec_app_open_acc                       37745 non-null bool
sec_app_revol_util                     37745 non-null bool
sec_app_open_act_il                    37745 non-null bool
sec_app_num_rev_accts                  37745 non-null bool
sec_app_chargeoff_within_12_mths       37745 non-null bool
sec_app_collections_12_mths_ex_med     37745 non-null bool
sec_app_mths_since_last_major_derog    37745 non-null bool
disbursement_method                    37745 non-null object
was_delinq                             37745 non-null int64
dtypes: bool(28), datetime64[ns](1), float64(9), int64(52), object(6)
memory usage: 20.6+ MB

In [170]:
from sklearn.model_selection import train_test_split

X = df_train_f_2
y = df_train_l['charged_off']

X_train, X_test, y_train, y_test = train_test_split(X, y)

In [176]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
import category_encoders as ce
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score


pipeline = make_pipeline(
    
    ce.OneHotEncoder(),
    RandomForestClassifier(n_estimators=300, 
                           class_weight='balanced', 
                           min_samples_leaf=0.005, 
                           oob_score=True, 
                           n_jobs=-1)
)

pipeline.fit(X_train, y_train)
y_pred = pipeline.predict(X_test)
#cross_val_score(pipeline, X_train, y_train, cv=5, scoring='roc_auc', verbose=10)

In [177]:
accuracy_score(y_test,y_pred)

0.6662074811910564

In [178]:
y_pred = pipeline.predict(df_test_2.dropna(axis=1))

y_pred = pd.DataFrame(y_pred,index=None)

y_pred['id'] = df_test['id']
y_pred.rename(columns= {0 : 'charged_off'},inplace=True)
cols = ['id', 'charged_off']
y_pred = y_pred[cols]

y_pred.head()

      id  charged_off
0  57146            1
1  20988            1
2  10031            0
3  33892            0
4  35374            0

In [179]:
y_pred.to_csv('submit5', index=False)

In [117]:
df_train_f.isna().sum()

id                                         0
member_id                              37745
loan_amnt                                  0
funded_amnt                                0
term                                       0
int_rate                                   0
installment                                0
grade                                      0
sub_grade                                  0
emp_title                               3565
emp_length                              3277
home_ownership                             0
annual_inc                                 0
url                                    37745
desc                                   37745
purpose                                    0
title                                      0
zip_code                                   0
addr_state                                 0
dti                                       92
delinq_2yrs                                0
earliest_cr_line                           0
inq_last_6mths                             0
mths_since_last_delinq                 20881
mths_since_last_record                 32170
open_acc                                   0
pub_rec                                    0
revol_bal                                  0
revol_util                                53
total_acc                                  0
                                       ...
num_bc_tl                                  0
num_il_tl                                  0
num_op_rev_tl                              0
num_rev_accts                              0
num_rev_tl_bal_gt_0                        0
num_sats                                   0
num_tl_120dpd_2m                        1010
num_tl_30dpd                               0
num_tl_90g_dpd_24m                         0
num_tl_op_past_12m                         0
pct_tl_nvr_dlq                             1
percent_bc_gt_75                         643
pub_rec_bankruptcies                       0
tax_liens                                  0
tot_hi_cred_lim                            0
total_bal_ex_mort                          0
total_bc_limit                             0
total_il_high_credit_limit                 0
revol_bal_joint                        33007
sec_app_earliest_cr_line               33007
sec_app_inq_last_6mths                 33007
sec_app_mort_acc                       33007
sec_app_open_acc                       33007
sec_app_revol_util                     33106
sec_app_open_act_il                    33007
sec_app_num_rev_accts                  33007
sec_app_chargeoff_within_12_mths       33007
sec_app_collections_12_mths_ex_med     33007
sec_app_mths_since_last_major_derog    36077
disbursement_method                        0
Length: 103, dtype: int64

In [119]:
df_train_f.shape

(37745, 103)

In [162]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
import category_encoders as ce
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV


param_grid = {
     'n_estimators':[100,200,500,1000,2000],
     'min_samples_leaf':[.001,.002,.005,.01,.1],
}

pipeline = make_pipeline(
    
    ce.OneHotEncoder(),
    GridSearchCV(RandomForestClassifier(), scoring='accuracy', param_grid=param_grid, cv=3, verbose=10)

)

pipeline.fit(X_train, y_train)
y_pred = pipeline.predict(X_test)

Fitting 3 folds for each of 25 candidates, totalling 75 fits
[CV] min_samples_leaf=0.001, n_estimators=100 ........................

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV]  min_samples_leaf=0.001, n_estimators=100, score=0.8532217041119118, total=   6.4s
[CV] min_samples_leaf=0.001, n_estimators=100 ........................

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    7.8s remaining:    0.0s

[CV]  min_samples_leaf=0.001, n_estimators=100, score=0.8532217041119118, total=   7.8s
[CV] min_samples_leaf=0.001, n_estimators=100 ........................

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:   17.0s remaining:    0.0s

[CV]  min_samples_leaf=0.001, n_estimators=100, score=0.8532217041119118, total=   6.3s
[CV] min_samples_leaf=0.001, n_estimators=200 ........................

[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:   24.4s remaining:    0.0s

KeyboardInterrupt:

In [171]:
%%time
import eli5
from eli5.sklearn import PermutationImportance

encoder = ce.OrdinalEncoder()
X_train_transformed = encoder.fit_transform(X_train)

model = RandomForestClassifier(
    n_estimators=100, 
    class_weight='balanced', 
    min_samples_leaf=0.005, 
    n_jobs=-1)

model.fit(X_train_transformed, y_train)
permuter = PermutationImportance(model, scoring='roc_auc', n_iter=1, cv='prefit')
permuter.fit(X_train_transformed, y_train)

CPU times: user 40.9 s, sys: 1.27 s, total: 42.1 s
Wall time: 16.5 s

In [172]:
eli5.show_weights(permuter, top=None, feature_names=X_train_transformed.columns.tolist())