In [32]:
import pandas as pd

df_sample = pd.read_csv("/Users/joshsolis/repos/joshdsolis/DS-Unit-4-Sprint-1-Tree-Ensembles/module1-decision-trees/ds1-tree-ensembles/sample_submission.csv")
df_train_f = pd.read_csv("/Users/joshsolis/repos/joshdsolis/DS-Unit-4-Sprint-1-Tree-Ensembles/module1-decision-trees/ds1-tree-ensembles/train_features.csv")
df_train_l = pd.read_csv("/Users/joshsolis/repos/joshdsolis/DS-Unit-4-Sprint-1-Tree-Ensembles/module1-decision-trees/ds1-tree-ensembles/train_labels.csv")

df_test = pd.read_csv("/Users/joshsolis/repos/joshdsolis/DS-Unit-4-Sprint-1-Tree-Ensembles/module1-decision-trees/ds1-tree-ensembles/test_features.csv")

In [33]:
train_objs_num = len(df_train_f)
dataset = pd.concat(objs=[df_train_f, df_test], axis=0).dropna(axis=1)

df_train_f_1 = dataset[:train_objs_num]
df_test_1 = dataset[train_objs_num:]

In [34]:
from sklearn.model_selection import train_test_split

X = df_train_f_1.dropna(axis=1)
y = df_train_l['charged_off']

X_train, X_test, y_train, y_test = train_test_split(X, y)

In [35]:
pd.set_option('display.max_columns', None)


df_train_l.head()

      id  charged_off
0  43373            0
1  24414            0
2  46723            0
3  24878            0
4  39038            0

In [ ]:
from sklearn.tree import DecisionTreeClassifier
import category_encoders as ce
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler


pipeline = make_pipeline(
    
    ce.OneHotEncoder(),
    DecisionTreeClassifier()
)

pipeline.fit(X_train, y_train)
y_pred = pipeline.predict(X_test)

In [26]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test,y_pred)

0.7841475045035499

In [27]:
y_pred = pipeline.predict(df_test.dropna(axis=1))

In [30]:
y_pred = pd.DataFrame(y_pred,index=None)

y_pred['id'] = df_test['id']
y_pred.rename(columns= {0 : 'charged_off'},inplace=True)
cols = ['id', 'charged_off']
y_pred = y_pred[cols]

y_pred.head()

      id  charged_off
0  57146            0
1  20988            0
2  10031            0
3  33892            0
4  35374            0

In [31]:
y_pred.to_csv('submit1', index=False)