In [2]:
!pip install kaggle

Requirement already satisfied: kaggle in /home/mishraka/anaconda3/lib/python3.7/site-packages (1.5.1.1)
Requirement already satisfied: tqdm in /home/mishraka/anaconda3/lib/python3.7/site-packages (from kaggle) (4.26.0)
Requirement already satisfied: certifi in /home/mishraka/anaconda3/lib/python3.7/site-packages (from kaggle) (2018.11.29)
Requirement already satisfied: requests in /home/mishraka/anaconda3/lib/python3.7/site-packages (from kaggle) (2.19.1)
Requirement already satisfied: python-dateutil in /home/mishraka/anaconda3/lib/python3.7/site-packages (from kaggle) (2.7.3)
Requirement already satisfied: urllib3<1.23.0,>=1.15 in /home/mishraka/anaconda3/lib/python3.7/site-packages (from kaggle) (1.22)
Requirement already satisfied: six>=1.10 in /home/mishraka/anaconda3/lib/python3.7/site-packages (from kaggle) (1.11.0)
Requirement already satisfied: python-slugify in /home/mishraka/anaconda3/lib/python3.7/site-packages (from kaggle) (2.0.1)
Requirement already satisfied: idna<2.8,>=2.5 in /home/mishraka/anaconda3/lib/python3.7/site-packages (from requests->kaggle) (2.7)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/mishraka/anaconda3/lib/python3.7/site-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: Unidecode>=0.04.16 in /home/mishraka/anaconda3/lib/python3.7/site-packages (from python-slugify->kaggle) (1.0.23)
You are using pip version 19.0.2, however version 19.0.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [4]:
#environment reference for the kaggle api key
%env KAGGLE_CONFIG_DIR=/home/mishraka/Documents/Manjula/Lambda_School/Assignments/Unit4_Tree_Ensembles/Kaggle_Homework_Week

env: KAGGLE_CONFIG_DIR=/home/mishraka/Documents/Manjula/Lambda_School/Assignments/Unit4_Tree_Ensembles/Kaggle_Homework_Week

In [6]:
!kaggle competitions download -c ds1-tree-ensembles

Downloading train_features.csv.zip to /home/mishraka/Documents/Manjula/Lambda_School/Assignments/Unit4_Tree_Ensembles/Kaggle_Homework_Week
 86%|████████████████████████████████▌     | 4.00M/4.67M [00:00<00:00, 7.57MB/s]
100%|██████████████████████████████████████| 4.67M/4.67M [00:00<00:00, 8.48MB/s]
Downloading train_labels.csv to /home/mishraka/Documents/Manjula/Lambda_School/Assignments/Unit4_Tree_Ensembles/Kaggle_Homework_Week
  0%|                                                | 0.00/295k [00:00<?, ?B/s]
100%|████████████████████████████████████████| 295k/295k [00:00<00:00, 10.2MB/s]
Downloading test_features.csv.zip to /home/mishraka/Documents/Manjula/Lambda_School/Assignments/Unit4_Tree_Ensembles/Kaggle_Homework_Week
 86%|████████████████████████████████▌     | 1.00M/1.17M [00:00<00:00, 8.43MB/s]
100%|██████████████████████████████████████| 1.17M/1.17M [00:00<00:00, 8.47MB/s]
Downloading sample_submission.csv to /home/mishraka/Documents/Manjula/Lambda_School/Assignments/Unit4_Tree_Ensembles/Kaggle_Homework_Week
  0%|                                               | 0.00/92.2k [00:00<?, ?B/s]
100%|██████████████████████████████████████| 92.2k/92.2k [00:00<00:00, 12.4MB/s]
Downloading LCDataDictionary.xlsx to /home/mishraka/Documents/Manjula/Lambda_School/Assignments/Unit4_Tree_Ensembles/Kaggle_Homework_Week
  0%|                                               | 0.00/23.0k [00:00<?, ?B/s]
100%|██████████████████████████████████████| 23.0k/23.0k [00:00<00:00, 17.0MB/s]

In [18]:
pwd

'/home/mishraka/Documents/Manjula/Lambda_School/Assignments/Unit4_Tree_Ensembles/Kaggle_Homework_Week'

In [19]:
ls

kaggle.json             sample_submission.csv  train_features.csv
Kaggle_monday_HW.ipynb  test_features.csv      train_features.csv.zip
LCDataDictionary.xlsx   test_features.csv.zip  train_labels.csv

In [44]:
import pandas as pd
pd.set_option('display.max_columns', 105)

In [45]:
df_train_features = pd.read_csv("train_features.csv")

In [46]:
df_train_features.head()

,id,member_id,loan_amnt,funded_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,collections_12_mths_ex_med,mths_since_last_major_derog,application_type,annual_inc_joint,dti_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,disbursement_method
0,43373,NaN,12000,12000,36 months,16.02%,422.01,C,C5,Driver,4 years,MORTGAGE,81000.0,NaN,NaN,debt_consolidation,Debt consolidation,280xx,NC,12.76,0,Dec-2005,1,48.0,NaN,7,0,4912,23.5%,15,w,0,48.0,Individual,NaN,NaN,0,0,174783,1,2,0,4,13.0,33668,82.0,2,5,2962,63.0,20900,1,1,2,9,24969.0,588.0,89.3,0,0,145.0,23,1,1,1,8.0,NaN,1.0,NaN,2,2,2,2,2,9,4,5,2,7,0.0,0,0,2,92.9,100.0,0,0,206618,38580,5500,40863,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash
1,24414,NaN,6300,6300,36 months,14.07%,215.54,C,C3,GMP Lead,4 years,RENT,39000.0,NaN,NaN,debt_consolidation,Debt consolidation,920xx,CA,21.42,0,Mar-2012,1,NaN,NaN,10,0,11876,59.4%,12,w,0,NaN,Individual,NaN,NaN,0,0,31046,0,1,0,2,14.0,19170,83.0,3,8,5153,72.0,20000,1,0,1,10,3105.0,6877.0,59.3,0,0,17.0,72,8,8,0,8.0,NaN,6.0,NaN,0,6,7,7,8,2,9,10,7,10,0.0,0,0,3,100.0,42.9,0,0,43140,31046,16900,23140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash
2,46723,NaN,4500,4500,36 months,7.21%,139.38,A,A3,Accounts,3 years,RENT,78000.0,NaN,NaN,debt_consolidation,Debt consolidation,906xx,CA,2.17,0,May-2000,2,NaN,NaN,13,0,1715,5.2%,19,w,0,NaN,Individual,NaN,NaN,0,0,35329,0,8,1,2,10.0,33614,106.0,1,1,1196,54.0,33300,4,0,3,3,2718.0,21585.0,7.4,0,0,166.0,218,10,10,0,31.0,NaN,1.0,NaN,0,3,3,3,4,13,5,6,3,13,0.0,0,0,2,100.0,0.0,0,0,65092,35329,23300,31792,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash
3,24878,NaN,12000,12000,36 months,9.44%,384.06,B,B1,Client Processing Associate,10+ years,MORTGAGE,62000.0,NaN,NaN,debt_consolidation,Debt consolidation,441xx,OH,13.76,0,Feb-2003,0,NaN,NaN,22,0,9404,16.3%,33,w,0,NaN,Individual,NaN,NaN,0,0,75160,4,1,0,2,13.0,17123,67.0,6,9,6898,32.0,57600,3,1,2,12,3579.0,33602.0,17.0,0,0,162.0,179,1,1,1,1.0,NaN,5.0,NaN,0,1,3,9,13,7,20,25,3,22,0.0,0,0,7,100.0,0.0,0,0,133065,26527,40500,25465,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash
4,39038,NaN,12000,12000,36 months,22.35%,460.47,D,D5,Construction Operator,10+ years,MORTGAGE,70000.0,NaN,NaN,debt_consolidation,Debt consolidation,751xx,TX,14.04,4,Nov-2001,2,13.0,NaN,18,0,17895,24.2%,45,w,0,13.0,Individual,NaN,NaN,0,7218,113702,9,2,2,4,6.0,16711,68.0,9,10,5373,35.0,73900,3,6,3,14,6317.0,32863.0,24.1,0,0,159.0,201,0,0,1,0.0,62.0,3.0,62.0,6,9,11,11,14,22,15,20,11,18,0.0,0,2,11,82.2,9.1,0,0,192842,34606,43300,24499,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash

In [24]:
df_test_features = pd.read_csv("test_features.csv")

In [25]:
df_test_features.head()

,id,member_id,loan_amnt,funded_amnt,term,int_rate,installment,grade,sub_grade,emp_title,...,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,disbursement_method
0,57146,NaN,18500,18500,60 months,25.82%,551.93,E,E4,Account Service Representative,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash
1,20988,NaN,36000,36000,60 months,12.61%,811.95,C,C1,Vice President of IT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash
2,10031,NaN,12000,12000,36 months,22.90%,463.90,E,E1,Director of Technology,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash
3,33892,NaN,24875,24875,60 months,11.98%,553.08,B,B5,vp,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash
4,35374,NaN,4000,4000,36 months,10.91%,130.79,B,B4,Sales consultant,...,0.0,2.0,7.0,22.9,3.0,3.0,0.0,0.0,NaN,Cash

In [26]:
df_test_features.shape, df_train_features.shape

((9437, 103), (37745, 103))

In [27]:
df_train_labels = pd.read_csv("train_labels.csv")

In [47]:
df_train_labels.shape

(37745, 2)

In [111]:
df_test_features.shape

(9437, 103)

In [28]:
df_train_labels.head()

      id  charged_off
0  43373            0
1  24414            0
2  46723            0
3  24878            0
4  39038            0

In [30]:
df_sample_submission = pd.read_csv("sample_submission.csv")

In [31]:
df_sample_submission.head()

      id  charged_off
0  57146          0.5
1  20988          0.5
2  10031          0.5
3  33892          0.5
4  35374          0.5

In [32]:
df_sample_submission.shape

(9437, 2)

### The total rows in our training set are 37745

In [113]:
df_train_test_features = pd.concat([df_train_features, df_test_features])

In [115]:
df_train_test_features.shape

(47182, 103)

In [114]:
df_train_test_features.isna().sum()

id                                         0
member_id                              47182
loan_amnt                                  0
funded_amnt                                0
term                                       0
int_rate                                   0
installment                                0
grade                                      0
sub_grade                                  0
emp_title                               4411
emp_length                              4062
home_ownership                             0
annual_inc                                 0
url                                    47182
desc                                   47182
purpose                                    0
title                                      0
zip_code                                   0
addr_state                                 0
dti                                      112
delinq_2yrs                                0
earliest_cr_line                           0
inq_last_6mths                             0
mths_since_last_delinq                 26118
mths_since_last_record                 40192
open_acc                                   0
pub_rec                                    0
revol_bal                                  0
revol_util                                63
total_acc                                  0
                                       ...
num_bc_tl                                  0
num_il_tl                                  0
num_op_rev_tl                              0
num_rev_accts                              0
num_rev_tl_bal_gt_0                        0
num_sats                                   0
num_tl_120dpd_2m                        1285
num_tl_30dpd                               0
num_tl_90g_dpd_24m                         0
num_tl_op_past_12m                         0
pct_tl_nvr_dlq                             1
percent_bc_gt_75                         793
pub_rec_bankruptcies                       0
tax_liens                                  0
tot_hi_cred_lim                            0
total_bal_ex_mort                          0
total_bc_limit                             0
total_il_high_credit_limit                 0
revol_bal_joint                        41306
sec_app_earliest_cr_line               41306
sec_app_inq_last_6mths                 41306
sec_app_mort_acc                       41306
sec_app_open_acc                       41306
sec_app_revol_util                     41432
sec_app_open_act_il                    41306
sec_app_num_rev_accts                  41306
sec_app_chargeoff_within_12_mths       41306
sec_app_collections_12_mths_ex_med     41306
sec_app_mths_since_last_major_derog    45130
disbursement_method                        0
Length: 103, dtype: int64

In [33]:
!pip install dtreeviz

Collecting dtreeviz
  Downloading https://files.pythonhosted.org/packages/27/62/c66ae7d65510ebda8f4d126ebcf7d1171cec22e47196197a28667c2ccfa0/dtreeviz-0.3.3.tar.gz
Collecting graphviz>=0.9 (from dtreeviz)
  Using cached https://files.pythonhosted.org/packages/1f/e2/ef2581b5b86625657afd32030f90cf2717456c1d2b711ba074bf007c0f1a/graphviz-0.10.1-py2.py3-none-any.whl
Requirement already satisfied: pandas in /home/mishraka/anaconda3/lib/python3.7/site-packages (from dtreeviz) (0.23.4)
Requirement already satisfied: numpy in /home/mishraka/anaconda3/lib/python3.7/site-packages (from dtreeviz) (1.15.4)
Requirement already satisfied: scikit-learn in /home/mishraka/anaconda3/lib/python3.7/site-packages (from dtreeviz) (0.20.2)
Requirement already satisfied: matplotlib in /home/mishraka/anaconda3/lib/python3.7/site-packages (from dtreeviz) (2.2.3)
Collecting colour (from dtreeviz)
  Downloading https://files.pythonhosted.org/packages/74/46/e81907704ab203206769dee1385dc77e1407576ff8f50a0681d0a6b541be/colour-0.1.5-py2.py3-none-any.whl
Requirement already satisfied: python-dateutil>=2.5.0 in /home/mishraka/anaconda3/lib/python3.7/site-packages (from pandas->dtreeviz) (2.7.3)
Requirement already satisfied: pytz>=2011k in /home/mishraka/anaconda3/lib/python3.7/site-packages (from pandas->dtreeviz) (2018.5)
Requirement already satisfied: scipy>=0.13.3 in /home/mishraka/anaconda3/lib/python3.7/site-packages (from scikit-learn->dtreeviz) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /home/mishraka/anaconda3/lib/python3.7/site-packages (from matplotlib->dtreeviz) (0.10.0)
Requirement already satisfied: six>=1.10 in /home/mishraka/anaconda3/lib/python3.7/site-packages (from matplotlib->dtreeviz) (1.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/mishraka/anaconda3/lib/python3.7/site-packages (from matplotlib->dtreeviz) (1.0.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /home/mishraka/anaconda3/lib/python3.7/site-packages (from matplotlib->dtreeviz) (2.2.0)
Requirement already satisfied: setuptools in /home/mishraka/anaconda3/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib->dtreeviz) (40.2.0)
Building wheels for collected packages: dtreeviz
  Building wheel for dtreeviz (setup.py) ... done
  Stored in directory: /home/mishraka/.cache/pip/wheels/4c/3f/87/b2c828617d1bd181145fbaf41129e4c82fa8d9a98082701e00
Successfully built dtreeviz
Installing collected packages: graphviz, colour, dtreeviz
Successfully installed colour-0.1.5 dtreeviz-0.3.3 graphviz-0.10.1
You are using pip version 19.0.2, however version 19.0.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [34]:
!pip install --upgrade pip

Collecting pip
  Using cached https://files.pythonhosted.org/packages/d8/f3/413bab4ff08e1fc4828dfc59996d721917df8e8583ea85385d51125dceff/pip-19.0.3-py2.py3-none-any.whl
Installing collected packages: pip
  Found existing installation: pip 19.0.2
    Uninstalling pip-19.0.2:
      Successfully uninstalled pip-19.0.2
Successfully installed pip-19.0.3

In [36]:
!pip install category_encoders

Requirement already satisfied: category_encoders in /home/mishraka/anaconda3/lib/python3.7/site-packages (1.3.0)
Requirement already satisfied: statsmodels>=0.6.1 in /home/mishraka/anaconda3/lib/python3.7/site-packages (from category_encoders) (0.9.0)
Requirement already satisfied: numpy>=1.11.1 in /home/mishraka/anaconda3/lib/python3.7/site-packages (from category_encoders) (1.15.4)
Requirement already satisfied: scipy>=0.17.0 in /home/mishraka/anaconda3/lib/python3.7/site-packages (from category_encoders) (1.1.0)
Requirement already satisfied: pandas>=0.20.1 in /home/mishraka/anaconda3/lib/python3.7/site-packages (from category_encoders) (0.23.4)
Requirement already satisfied: scikit-learn>=0.17.1 in /home/mishraka/anaconda3/lib/python3.7/site-packages (from category_encoders) (0.20.2)
Requirement already satisfied: patsy>=0.4.1 in /home/mishraka/anaconda3/lib/python3.7/site-packages (from category_encoders) (0.5.0)
Requirement already satisfied: python-dateutil>=2.5.0 in /home/mishraka/anaconda3/lib/python3.7/site-packages (from pandas>=0.20.1->category_encoders) (2.7.3)
Requirement already satisfied: pytz>=2011k in /home/mishraka/anaconda3/lib/python3.7/site-packages (from pandas>=0.20.1->category_encoders) (2018.5)
Requirement already satisfied: six in /home/mishraka/anaconda3/lib/python3.7/site-packages (from patsy>=0.4.1->category_encoders) (1.11.0)

In [116]:
df_train_test_features.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_title',
       ...
       'sec_app_inq_last_6mths', 'sec_app_mort_acc', 'sec_app_open_acc',
       'sec_app_revol_util', 'sec_app_open_act_il', 'sec_app_num_rev_accts',
       'sec_app_chargeoff_within_12_mths',
       'sec_app_collections_12_mths_ex_med',
       'sec_app_mths_since_last_major_derog', 'disbursement_method'],
      dtype='object', length=103)

### Let's drop the columns with NaNs from the merged file

In [117]:
df_no_na = df_train_test_features.dropna(axis=1, how='any')

In [118]:
df_no_na.shape

(47182, 66)

In [119]:
df_no_na.isna().sum()

id                            0
loan_amnt                     0
funded_amnt                   0
term                          0
int_rate                      0
installment                   0
grade                         0
sub_grade                     0
home_ownership                0
annual_inc                    0
purpose                       0
title                         0
zip_code                      0
addr_state                    0
delinq_2yrs                   0
earliest_cr_line              0
inq_last_6mths                0
open_acc                      0
pub_rec                       0
revol_bal                     0
total_acc                     0
initial_list_status           0
collections_12_mths_ex_med    0
application_type              0
acc_now_delinq                0
tot_coll_amt                  0
tot_cur_bal                   0
open_acc_6m                   0
open_act_il                   0
open_il_12m                   0
                             ..
inq_fi                        0
total_cu_tl                   0
inq_last_12m                  0
acc_open_past_24mths          0
chargeoff_within_12_mths      0
delinq_amnt                   0
mo_sin_old_rev_tl_op          0
mo_sin_rcnt_rev_tl_op         0
mo_sin_rcnt_tl                0
mort_acc                      0
num_accts_ever_120_pd         0
num_actv_bc_tl                0
num_actv_rev_tl               0
num_bc_sats                   0
num_bc_tl                     0
num_il_tl                     0
num_op_rev_tl                 0
num_rev_accts                 0
num_rev_tl_bal_gt_0           0
num_sats                      0
num_tl_30dpd                  0
num_tl_90g_dpd_24m            0
num_tl_op_past_12m            0
pub_rec_bankruptcies          0
tax_liens                     0
tot_hi_cred_lim               0
total_bal_ex_mort             0
total_bc_limit                0
total_il_high_credit_limit    0
disbursement_method           0
Length: 66, dtype: int64

In [120]:
df_no_na.dtypes.unique()

array([dtype('int64'), dtype('O'), dtype('float64')], dtype=object)

### let select only numeric columns

In [121]:
import numpy as np
df_train_test_all_numeric = df_no_na.select_dtypes(np.number)

In [122]:
df_train_test_all_numeric.shape

(47182, 53)

In [123]:
df_train_test_all_numeric.head()

,id,loan_amnt,funded_amnt,installment,annual_inc,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,total_acc,collections_12_mths_ex_med,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,total_bal_il,open_rv_12m,open_rv_24m,max_bal_bc,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,43373,12000,12000,422.01,81000.0,0,1,7,0,4912,15,0,0,0,174783,1,2,0,4,33668,2,5,2962,20900,1,1,2,9,0,0,23,1,1,1,2,2,2,2,2,9,4,5,2,7,0,0,2,0,0,206618,38580,5500,40863
1,24414,6300,6300,215.54,39000.0,0,1,10,0,11876,12,0,0,0,31046,0,1,0,2,19170,3,8,5153,20000,1,0,1,10,0,0,72,8,8,0,0,6,7,7,8,2,9,10,7,10,0,0,3,0,0,43140,31046,16900,23140
2,46723,4500,4500,139.38,78000.0,0,2,13,0,1715,19,0,0,0,35329,0,8,1,2,33614,1,1,1196,33300,4,0,3,3,0,0,218,10,10,0,0,3,3,3,4,13,5,6,3,13,0,0,2,0,0,65092,35329,23300,31792
3,24878,12000,12000,384.06,62000.0,0,0,22,0,9404,33,0,0,0,75160,4,1,0,2,17123,6,9,6898,57600,3,1,2,12,0,0,179,1,1,1,0,1,3,9,13,7,20,25,3,22,0,0,7,0,0,133065,26527,40500,25465
4,39038,12000,12000,460.47,70000.0,4,2,18,0,17895,45,0,0,7218,113702,9,2,2,4,16711,9,10,5373,73900,3,6,3,14,0,0,201,0,0,1,6,9,11,11,14,22,15,20,11,18,0,2,11,0,0,192842,34606,43300,24499

In [96]:
# df_y = df_merged_all_numeric.iloc[:,0:2]

In [124]:
# df_y.head()

In [94]:
# X = df_merged_all_numeric.iloc[:, 2:56]

### Baseline Model 
Let's split our data back into training and test

In [129]:
X_cleaned = df_train_test_all_numeric[:-9437]
X_test_original_shape = df_train_test_all_numeric[-9437:]
y = df_train_labels['charged_off']

In [130]:
X_cleaned.shape, X_test_original_shape.shape, y.shape

((37745, 53), (9437, 53), (37745,))

### train a decision tree

In [144]:
from sklearn.tree import DecisionTreeClassifier 

dt = DecisionTreeClassifier()
dt.fit(X_cleaned,y)
dt.score(X_cleaned,y)

1.0

In [132]:
y_pred = dt.predict_proba(X_test_original_shape)

In [136]:
y_pred.shape

(9437, 2)

In [139]:
sample_submission = pd.read_csv('sample_submission.csv') 
first_submission= sample_submission.copy()
first_submission.charged_off = y_pred
first_submission.to_csv('manjula_first.csv', index=False)

In [147]:
# from dtreeviz.trees import dtreeviz
# dtreeviz(dt, X_cleaned, y,
#         target_name='loan paid',
#         feature_names=X_cleaned.columns,
#         class_names=['No', 'Yes'])

### Working with non numeric columns

In [148]:
df_train_features.shape

(37745, 103)

In [210]:
df_no_na = df_train_test_features.dropna(axis=1, how='any')

In [150]:
df_no_na.shape

(47182, 66)

In [152]:
df_no_na.isna().sum()

id                            0
loan_amnt                     0
funded_amnt                   0
term                          0
int_rate                      0
installment                   0
grade                         0
sub_grade                     0
home_ownership                0
annual_inc                    0
purpose                       0
title                         0
zip_code                      0
addr_state                    0
delinq_2yrs                   0
earliest_cr_line              0
inq_last_6mths                0
open_acc                      0
pub_rec                       0
revol_bal                     0
total_acc                     0
initial_list_status           0
collections_12_mths_ex_med    0
application_type              0
acc_now_delinq                0
tot_coll_amt                  0
tot_cur_bal                   0
open_acc_6m                   0
open_act_il                   0
open_il_12m                   0
                             ..
inq_fi                        0
total_cu_tl                   0
inq_last_12m                  0
acc_open_past_24mths          0
chargeoff_within_12_mths      0
delinq_amnt                   0
mo_sin_old_rev_tl_op          0
mo_sin_rcnt_rev_tl_op         0
mo_sin_rcnt_tl                0
mort_acc                      0
num_accts_ever_120_pd         0
num_actv_bc_tl                0
num_actv_rev_tl               0
num_bc_sats                   0
num_bc_tl                     0
num_il_tl                     0
num_op_rev_tl                 0
num_rev_accts                 0
num_rev_tl_bal_gt_0           0
num_sats                      0
num_tl_30dpd                  0
num_tl_90g_dpd_24m            0
num_tl_op_past_12m            0
pub_rec_bankruptcies          0
tax_liens                     0
tot_hi_cred_lim               0
total_bal_ex_mort             0
total_bc_limit                0
total_il_high_credit_limit    0
disbursement_method           0
Length: 66, dtype: int64

In [154]:
df_no_na.dtypes

id                              int64
loan_amnt                       int64
funded_amnt                     int64
term                           object
int_rate                       object
installment                   float64
grade                          object
sub_grade                      object
home_ownership                 object
annual_inc                    float64
purpose                        object
title                          object
zip_code                       object
addr_state                     object
delinq_2yrs                     int64
earliest_cr_line               object
inq_last_6mths                  int64
open_acc                        int64
pub_rec                         int64
revol_bal                       int64
total_acc                       int64
initial_list_status            object
collections_12_mths_ex_med      int64
application_type               object
acc_now_delinq                  int64
tot_coll_amt                    int64
tot_cur_bal                     int64
open_acc_6m                     int64
open_act_il                     int64
open_il_12m                     int64
                               ...
inq_fi                          int64
total_cu_tl                     int64
inq_last_12m                    int64
acc_open_past_24mths            int64
chargeoff_within_12_mths        int64
delinq_amnt                     int64
mo_sin_old_rev_tl_op            int64
mo_sin_rcnt_rev_tl_op           int64
mo_sin_rcnt_tl                  int64
mort_acc                        int64
num_accts_ever_120_pd           int64
num_actv_bc_tl                  int64
num_actv_rev_tl                 int64
num_bc_sats                     int64
num_bc_tl                       int64
num_il_tl                       int64
num_op_rev_tl                   int64
num_rev_accts                   int64
num_rev_tl_bal_gt_0             int64
num_sats                        int64
num_tl_30dpd                    int64
num_tl_90g_dpd_24m              int64
num_tl_op_past_12m              int64
pub_rec_bankruptcies            int64
tax_liens                       int64
tot_hi_cred_lim                 int64
total_bal_ex_mort               int64
total_bc_limit                  int64
total_il_high_credit_limit      int64
disbursement_method            object
Length: 66, dtype: object

In [155]:
df_no_na.head()

,id,loan_amnt,funded_amnt,term,int_rate,installment,grade,sub_grade,home_ownership,annual_inc,purpose,title,zip_code,addr_state,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,total_acc,initial_list_status,collections_12_mths_ex_med,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,total_bal_il,open_rv_12m,open_rv_24m,max_bal_bc,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,disbursement_method
0,43373,12000,12000,36 months,16.02%,422.01,C,C5,MORTGAGE,81000.0,debt_consolidation,Debt consolidation,280xx,NC,0,Dec-2005,1,7,0,4912,15,w,0,Individual,0,0,174783,1,2,0,4,33668,2,5,2962,20900,1,1,2,9,0,0,23,1,1,1,2,2,2,2,2,9,4,5,2,7,0,0,2,0,0,206618,38580,5500,40863,Cash
1,24414,6300,6300,36 months,14.07%,215.54,C,C3,RENT,39000.0,debt_consolidation,Debt consolidation,920xx,CA,0,Mar-2012,1,10,0,11876,12,w,0,Individual,0,0,31046,0,1,0,2,19170,3,8,5153,20000,1,0,1,10,0,0,72,8,8,0,0,6,7,7,8,2,9,10,7,10,0,0,3,0,0,43140,31046,16900,23140,Cash
2,46723,4500,4500,36 months,7.21%,139.38,A,A3,RENT,78000.0,debt_consolidation,Debt consolidation,906xx,CA,0,May-2000,2,13,0,1715,19,w,0,Individual,0,0,35329,0,8,1,2,33614,1,1,1196,33300,4,0,3,3,0,0,218,10,10,0,0,3,3,3,4,13,5,6,3,13,0,0,2,0,0,65092,35329,23300,31792,Cash
3,24878,12000,12000,36 months,9.44%,384.06,B,B1,MORTGAGE,62000.0,debt_consolidation,Debt consolidation,441xx,OH,0,Feb-2003,0,22,0,9404,33,w,0,Individual,0,0,75160,4,1,0,2,17123,6,9,6898,57600,3,1,2,12,0,0,179,1,1,1,0,1,3,9,13,7,20,25,3,22,0,0,7,0,0,133065,26527,40500,25465,Cash
4,39038,12000,12000,36 months,22.35%,460.47,D,D5,MORTGAGE,70000.0,debt_consolidation,Debt consolidation,751xx,TX,4,Nov-2001,2,18,0,17895,45,w,0,Individual,0,7218,113702,9,2,2,4,16711,9,10,5373,73900,3,6,3,14,0,0,201,0,0,1,6,9,11,11,14,22,15,20,11,18,0,2,11,0,0,192842,34606,43300,24499,Cash

In [157]:
df_no_na.int_rate.value_counts()

 11.98%    1003
 10.90%     925
 12.61%     909
  9.43%     903
 18.45%     888
  9.92%     880
 17.47%     857
  7.34%     836
 13.58%     829
 14.07%     825
 15.04%     819
 21.85%     780
 11.99%     768
 19.42%     758
  5.31%     755
  9.44%     743
 20.39%     741
  6.71%     733
 16.01%     728
 15.05%     723
 12.62%     700
 13.59%     700
  7.96%     694
  9.93%     692
 10.42%     692
 14.08%     686
  7.35%     686
 10.41%     682
  6.07%     661
 16.02%     650
           ...
 23.40%     167
 22.90%     167
 24.85%     162
 23.87%     146
 26.30%     142
 25.82%     133
 26.31%     132
 24.37%     121
 25.34%     120
  8.19%     111
 11.80%     107
 10.72%      96
 30.79%      95
 12.98%      92
 22.91%      84
  8.81%      83
 10.33%      82
 30.17%      76
 29.69%      73
  7.56%      72
 11.31%      65
 30.75%      60
 30.65%      59
  6.46%      58
  7.02%      56
 30.89%      10
 30.84%       8
 30.94%       5
  6.00%       4
 30.99%       1
Name: int_rate, Length: 110, dtype: int64

### Getting rid of the % sign from int_rate column

In [172]:
df_no_na['int_rate_float'] = df_no_na.int_rate.str.replace('%','')

/home/mishraka/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

### Converting the new int_rate_float column to float data type

In [170]:
df_no_na['int_rate_float'] = df_no_na['int_rate_float'].astype(float)

/home/mishraka/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [171]:
df_no_na.dtypes

id                              int64
loan_amnt                       int64
funded_amnt                     int64
term                           object
int_rate                       object
installment                   float64
grade                          object
sub_grade                      object
home_ownership                 object
annual_inc                    float64
purpose                        object
title                          object
zip_code                       object
addr_state                     object
delinq_2yrs                     int64
earliest_cr_line               object
inq_last_6mths                  int64
open_acc                        int64
pub_rec                         int64
revol_bal                       int64
total_acc                       int64
initial_list_status            object
collections_12_mths_ex_med      int64
application_type               object
acc_now_delinq                  int64
tot_coll_amt                    int64
tot_cur_bal                     int64
open_acc_6m                     int64
open_act_il                     int64
open_il_12m                     int64
                               ...
total_cu_tl                     int64
inq_last_12m                    int64
acc_open_past_24mths            int64
chargeoff_within_12_mths        int64
delinq_amnt                     int64
mo_sin_old_rev_tl_op            int64
mo_sin_rcnt_rev_tl_op           int64
mo_sin_rcnt_tl                  int64
mort_acc                        int64
num_accts_ever_120_pd           int64
num_actv_bc_tl                  int64
num_actv_rev_tl                 int64
num_bc_sats                     int64
num_bc_tl                       int64
num_il_tl                       int64
num_op_rev_tl                   int64
num_rev_accts                   int64
num_rev_tl_bal_gt_0             int64
num_sats                        int64
num_tl_30dpd                    int64
num_tl_90g_dpd_24m              int64
num_tl_op_past_12m              int64
pub_rec_bankruptcies            int64
tax_liens                       int64
tot_hi_cred_lim                 int64
total_bal_ex_mort               int64
total_bc_limit                  int64
total_il_high_credit_limit      int64
disbursement_method            object
int_rate_float                float64
Length: 67, dtype: object

In [173]:
df_no_na=df_no_na.drop(columns='int_rate')

In [176]:
df_no_na.shape

(47182, 66)

### Fitting a second model

In [192]:
from sklearn.preprocessing import LabelEncoder
def dummyEncode(df):
        columnsToEncode = list(df.select_dtypes(include=['category','object']))
        le = LabelEncoder()
        for feature in columnsToEncode:
            try:
                df[feature] = le.fit_transform(df[feature])
            except:
                print('Error encoding '+feature)
        return df

In [204]:
dummyEncode(df_no_na)

,id,loan_amnt,funded_amnt,term,installment,grade,sub_grade,home_ownership,annual_inc,purpose,title,zip_code,addr_state,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,total_acc,initial_list_status,collections_12_mths_ex_med,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,total_bal_il,open_rv_12m,open_rv_24m,max_bal_bc,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,disbursement_method,int_rate_float
0,43373,12000,12000,0,422.01,2,14,1,81000.0,2,3,253,26,0,141,1,7,0,4912,15,1,0,0,0,0,174783,1,2,0,4,33668,2,5,2962,20900,1,1,2,9,0,0,23,1,1,1,2,2,2,2,2,9,4,5,2,7,0,0,2,0,0,206618,38580,5500,40863,0,66
1,24414,6300,6300,0,215.54,2,12,3,39000.0,2,3,792,4,0,406,1,10,0,11876,12,1,0,0,0,0,31046,0,1,0,2,19170,3,8,5153,20000,1,0,1,10,0,0,72,8,8,0,0,6,7,7,8,2,9,10,7,10,0,0,3,0,0,43140,31046,16900,23140,0,57
2,46723,4500,4500,0,139.38,0,2,3,78000.0,2,3,779,4,0,444,2,13,0,1715,19,1,0,0,0,0,35329,0,8,1,2,33614,1,1,1196,33300,4,0,3,3,0,0,218,10,10,0,0,3,3,3,4,13,5,6,3,13,0,0,2,0,0,65092,35329,23300,31792,0,13
3,24878,12000,12000,0,384.06,1,5,1,62000.0,2,3,403,34,0,189,0,22,0,9404,33,1,0,0,0,0,75160,4,1,0,2,17123,6,9,6898,57600,3,1,2,12,0,0,179,1,1,1,0,1,3,9,13,7,20,25,3,22,0,0,7,0,0,133065,26527,40500,25465,0,26
4,39038,12000,12000,0,460.47,3,19,1,70000.0,2,3,652,42,4,495,2,18,0,17895,45,1,0,0,0,7218,113702,9,2,2,4,16711,9,10,5373,73900,3,6,3,14,0,0,201,0,0,1,6,9,11,11,14,22,15,20,11,18,0,2,11,0,0,192842,34606,43300,24499,0,84
5,36809,35000,35000,0,1221.71,2,13,3,100000.0,3,6,92,33,0,95,2,1,0,0,5,1,0,0,0,0,0,0,0,0,0,0,0,0,0,4500,0,2,3,0,0,0,81,26,26,0,0,0,0,1,1,3,1,2,0,1,0,0,0,0,0,4500,0,4500,0,0,64
6,24005,18000,18000,1,407.08,1,9,1,130000.0,8,10,249,26,0,602,0,9,1,15758,29,1,0,0,0,0,402157,2,0,2,2,0,1,2,7442,37800,1,0,5,5,0,0,97,5,5,4,0,3,4,3,7,5,8,20,4,9,0,0,4,1,0,425703,15758,21400,0,0,50
7,13722,3600,3600,0,119.56,1,9,1,87000.0,8,10,259,26,0,399,1,15,0,12821,19,0,0,0,0,0,30909,2,3,1,3,18088,1,7,2645,25100,0,0,2,10,0,0,154,2,2,0,2,8,10,8,10,4,12,15,10,15,0,0,2,0,0,50660,30909,19600,25560,0,46
8,26082,25600,25600,1,590.11,2,11,1,73752.0,2,3,770,32,0,582,0,11,1,11882,22,1,0,0,0,0,355141,1,3,1,4,61453,1,2,3272,26800,3,5,2,8,0,0,331,5,5,4,0,5,6,5,6,7,7,10,6,11,0,0,2,1,0,389840,73335,20300,73800,0,54
9,16701,15600,15600,0,479.69,0,2,1,80000.0,2,3,248,26,0,547,0,13,0,18143,29,0,0,0,0,0,283864,0,2,0,1,18004,0,2,11664,66700,1,0,0,3,0,0,171,19,18,1,0,2,2,7,13,7,9,20,2,13,0,0,0,0,0,382701,36147,61200,51433,0,10
10,11504,35000,35000,0,1053.86,0,0,1,190000.0,8,10,825,4,1,392,0,16,0,85406,49,1,0,0,0,0,410685,0,2,1,1,10924,0,3,7483,150600,1,2,2,4,0,0,243,20,11,3,0,5,10,8,14,19,13,26,10,16,0,0,1,0,0,520588,96330,68600,41438,0,0
11,49127,40000,40000,0,1292.01,1,6,2,1250000.0,4,5,701,5,0,438,1,18,0,143595,44,1,0,0,0,0,4151547,3,2,0,2,115307,1,1,8795,239000,2,1,11,14,0,0,289,6,1,18,0,1,4,3,10,7,8,19,4,18,0,0,10,0,0,4358152,258902,72000,156105,0,30
12,14626,6000,6000,0,231.95,4,20,1,93000.0,1,2,292,9,1,42,0,19,1,8552,57,0,1,0,0,0,177211,2,5,3,3,134701,0,0,2472,28900,1,9,4,5,0,0,105,26,3,2,2,2,4,4,10,30,13,24,4,19,0,1,4,1,0,197716,143253,10500,134416,0,85
13,23189,13000,13000,1,276.73,1,5,1,34000.0,1,2,642,35,0,90,0,7,0,11660,15,1,0,1,0,0,190433,0,2,1,1,27256,0,4,7224,23100,1,2,3,5,0,0,144,15,9,1,0,1,2,3,5,5,4,9,2,7,0,0,1,0,0,223061,38916,16200,40013,1,31
14,19667,40000,40000,0,1229.79,0,2,1,327843.0,2,3,661,42,0,88,1,8,0,57691,48,1,0,0,0,0,832920,1,1,0,1,26876,1,1,17979,88000,1,0,2,3,0,0,164,6,6,4,0,3,4,4,10,29,5,14,4,8,0,0,2,0,0,945040,88665,58000,52825,0,9
15,39343,18000,18000,1,406.07,2,10,1,142000.0,2,3,274,10,0,86,0,15,0,20923,30,1,0,0,0,0,534338,2,4,1,3,99299,1,2,5385,37600,3,1,4,6,0,0,185,6,5,4,1,6,7,7,9,12,9,13,7,15,0,0,2,0,0,548877,126294,32600,88106,0,49
16,27322,5000,5000,0,178.49,3,15,3,50500.0,2,3,701,5,1,496,1,8,0,12742,12,0,0,0,0,0,29337,2,2,2,2,16595,1,2,7650,48800,1,0,2,4,0,0,182,4,4,0,2,5,6,5,7,2,6,8,6,8,0,0,3,0,0,68800,29337,42100,20000,0,70
17,34549,10000,10000,1,233.10,2,12,3,100000.0,1,2,255,26,0,605,2,14,0,4152,20,1,0,0,0,0,7758,3,1,2,4,31,3,4,2499,44200,1,0,4,10,0,0,52,1,1,0,0,3,3,9,11,4,10,13,3,14,0,0,6,0,0,60928,7758,36500,10000,0,58
18,21211,13500,13500,0,419.69,0,3,2,33800.0,2,3,634,35,0,495,2,13,0,1262,34,1,0,0,0,0,14376,1,3,2,5,13114,0,0,686,58800,2,17,2,5,0,0,198,42,2,0,0,2,2,5,6,16,10,18,2,13,0,0,2,0,0,84234,14376,39800,25434,0,16
19,38196,10000,10000,0,335.07,2,10,3,46874.0,1,2,800,4,1,223,0,25,0,19505,44,1,0,0,0,509,38195,1,1,1,1,18690,2,4,4088,53200,0,8,3,5,1,0,445,11,4,0,2,9,13,12,16,7,24,37,13,25,0,1,3,0,0,70610,38195,38300,17410,0,48
20,36648,7200,7200,0,232.60,1,5,2,65000.0,1,2,526,13,0,548,2,8,1,8896,34,1,0,0,0,0,181905,1,2,0,1,26468,1,2,2927,26500,5,9,4,4,0,0,165,3,3,3,0,1,3,1,12,7,4,24,3,8,0,0,2,1,0,232809,35364,10000,39209,0,31
21,24423,4000,4000,0,128.01,1,5,3,67000.0,1,2,768,32,0,19,0,10,1,3502,20,1,0,0,0,0,3502,0,0,1,1,0,1,3,1570,16600,1,0,2,4,0,0,365,10,8,2,0,2,3,3,7,1,9,16,3,9,0,0,2,1,0,16600,3502,10500,0,0,25
22,37588,17000,17000,0,661.62,4,20,1,75000.0,2,3,771,32,0,135,0,11,0,52391,34,0,0,0,0,100,379876,1,1,0,1,12680,2,4,5153,77500,1,2,1,6,0,0,226,2,2,5,0,3,6,5,18,6,8,23,6,11,0,0,2,0,0,465000,65071,30500,15000,0,87
23,41744,15000,15000,0,480.08,1,5,2,36200.0,8,10,314,9,0,548,0,18,0,8419,29,1,0,0,0,75,16342,1,1,0,1,7923,2,6,2192,47600,1,2,0,7,0,0,158,3,3,0,5,6,10,8,12,5,17,24,10,18,0,0,2,0,0,59300,16342,32400,11700,0,26
24,39727,8500,8500,0,278.53,1,7,1,76040.0,5,7,748,3,0,300,3,7,0,4287,8,1,0,0,0,0,4287,1,0,1,1,0,5,5,920,30700,7,0,32,6,0,0,134,5,5,0,0,2,3,5,5,1,7,7,3,7,0,0,6,0,0,30700,4287,26000,0,0,41
25,42693,3000,3000,0,98.09,1,8,2,15000.0,8,10,335,1,1,532,0,6,0,14074,16,0,0,1,0,179,14074,0,0,0,0,0,0,0,5763,90900,1,1,1,0,0,0,351,31,31,1,0,4,4,6,11,2,6,13,4,6,0,0,0,0,0,90900,14074,90900,0,0,39
26,23510,8000,8000,0,264.00,1,8,1,135000.0,3,6,798,4,2,136,0,4,0,5230,21,1,0,0,0,557,7090,0,1,0,1,1860,0,4,3130,7400,1,0,0,5,0,0,212,18,18,0,0,2,2,2,10,6,3,14,2,4,0,0,0,0,0,28400,7090,7000,21000,0,43
27,41061,20000,20000,1,451.19,2,10,3,85000.0,3,6,206,44,0,506,1,9,4,14584,11,1,0,0,0,191,47898,0,1,0,1,33314,0,0,4968,42800,0,1,1,1,0,0,49,25,15,0,0,4,5,5,5,3,8,8,5,9,0,0,0,1,3,81519,47898,36100,38719,0,49
28,54681,7000,7000,0,225.65,1,6,1,20000.0,1,2,854,46,0,480,0,12,0,5651,27,1,0,1,0,0,221288,1,2,1,1,18954,1,2,4066,19900,1,5,1,3,0,0,375,1,1,3,0,3,4,7,11,10,9,14,4,12,0,0,2,0,0,259706,24605,18900,32822,0,29
29,31437,35000,35000,0,1146.85,1,7,3,112200.0,2,3,441,21,0,457,1,18,0,17356,40,1,0,0,0,0,34881,1,2,2,5,17525,3,3,6656,63800,8,10,8,8,0,0,63,6,6,0,0,7,8,10,16,17,16,23,8,18,0,0,5,0,0,92086,34881,49500,28286,0,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9407,11564,12500,12500,1,379.98,4,24,1,48000.0,1,2,515,25,0,406,1,5,0,10862,11,1,0,0,0,0,213970,0,1,1,1,20151,0,0,6057,14000,0,3,2,3,0,0,63,35,8,2,0,2,2,2,3,5,3,4,2,5,0,0,3,0,0,221958,31013,11000,22703,0,98
9408,52626,4000,4000,0,137.63,2,11,3,35000.0,2,3,97,33,1,381,0,7,0,2023,10,1,2,0,0,0,14511,2,1,1,1,12488,5,6,902,6600,1,1,5,7,0,0,18,2,2,0,2,3,5,3,3,2,6,6,5,7,0,1,6,0,0,20697,14511,4800,14097,0,59
9409,52476,10000,10000,0,323.05,1,5,1,85000.0,1,2,57,30,0,187,0,9,0,45663,15,1,0,0,0,407,279791,0,5,0,1,63196,0,0,10789,63400,0,0,1,1,0,0,211,31,15,2,0,2,3,2,3,8,3,5,3,9,0,0,0,0,0,380374,108859,16400,60474,0,31
9410,17076,6500,6500,0,251.28,4,20,1,42800.0,1,2,291,10,0,449,1,13,0,24730,19,1,0,0,0,0,130248,1,2,0,2,22627,1,5,9462,38100,3,0,1,7,0,0,155,4,4,2,0,7,10,7,8,6,10,11,10,13,0,0,1,0,0,157377,47357,22800,30668,0,85
9411,12684,5000,5000,0,170.97,2,11,3,120000.0,7,9,441,21,0,350,3,31,0,14229,43,1,0,0,0,0,43065,3,3,1,6,28836,9,19,6105,63700,6,3,6,26,0,0,156,1,1,0,1,10,16,14,17,11,27,31,16,31,0,0,11,0,0,103880,43065,28200,37925,0,56
9412,51035,2500,2500,0,76.87,0,2,3,45000.0,1,2,777,4,0,547,1,5,0,1521,9,1,0,0,0,0,1521,1,0,0,0,0,1,1,968,11400,0,0,1,1,0,0,175,1,1,0,0,2,2,2,5,0,5,9,2,5,0,0,1,0,0,11400,1521,6800,0,0,9
9413,15603,34000,34000,1,791.65,2,11,3,84000.0,2,3,126,33,0,349,0,9,0,21498,49,1,0,0,0,0,249709,0,2,1,4,228211,1,3,16862,76000,0,0,2,7,0,0,167,9,9,0,0,3,3,4,7,37,7,12,3,9,0,0,2,0,0,310851,249709,50500,234851,0,56
9414,55140,10000,10000,0,341.93,2,11,3,92000.0,2,3,525,13,0,186,1,11,0,32271,26,1,0,0,0,0,239517,1,4,1,1,48141,0,0,18306,41400,2,0,1,1,0,0,219,59,3,1,0,2,2,4,4,15,6,9,2,11,0,0,1,0,0,298962,80412,39500,80921,0,56
9415,56009,21100,21100,0,842.74,4,22,1,48000.0,2,3,670,42,0,600,0,5,0,23013,8,0,0,0,0,0,129063,0,2,0,1,16957,0,0,19009,24500,0,0,0,1,0,0,118,47,21,1,0,2,2,2,3,4,2,3,2,5,0,0,0,0,0,162705,39970,24500,39705,0,93
9416,40710,16000,16000,0,515.68,1,6,1,80500.0,2,3,60,30,0,200,0,15,0,15697,18,1,0,0,0,300,220014,0,2,0,2,13146,1,4,3006,35600,2,0,0,6,0,0,50,10,10,1,0,6,9,8,9,3,12,14,9,15,0,0,1,0,0,261542,28843,27500,26607,0,28
9417,43809,15000,15000,0,557.46,3,18,1,105000.0,2,3,822,4,1,296,3,6,0,1454,7,0,0,0,0,0,463573,1,3,2,2,42231,1,2,1329,2400,4,0,6,4,0,0,14,12,2,1,1,2,2,2,2,4,2,2,2,6,0,0,3,0,0,493988,43685,2400,51338,0,79
9418,49345,3000,3000,0,96.92,1,5,1,31420.0,2,3,332,1,0,84,2,7,0,2001,15,1,0,0,0,0,67561,1,0,0,0,0,2,2,927,12500,0,0,3,4,0,0,217,6,6,3,0,3,3,5,7,0,6,12,3,7,0,0,4,0,0,78600,2001,11000,0,0,31
9419,10024,8000,8000,0,261.54,1,8,2,78000.0,8,10,440,14,0,248,0,10,0,20155,12,0,0,0,0,1467,42666,1,2,0,2,22511,1,2,8415,51000,1,1,0,4,0,0,145,1,1,0,0,6,7,6,7,3,8,9,7,10,0,0,1,0,0,82677,42666,46500,31677,0,38
9420,33850,20000,20000,1,529.88,3,18,1,47700.0,5,7,442,21,0,500,1,22,0,0,89,1,0,0,0,0,141953,2,4,3,6,77893,2,15,0,57100,5,9,4,23,0,0,135,5,3,8,1,0,0,5,29,23,17,57,0,22,0,0,5,0,0,214444,77893,19000,91284,0,79
9421,31945,6000,6000,0,215.33,3,15,3,38400.0,8,10,171,37,0,601,0,6,0,4765,18,1,0,0,0,0,42118,0,2,0,1,37353,0,0,2164,4900,0,0,0,1,0,0,54,45,22,0,0,2,3,2,2,15,3,3,3,6,0,0,0,0,0,48982,42118,3000,44082,0,71
9422,26552,20000,20000,0,737.38,3,17,3,78000.0,2,3,651,42,0,601,1,11,0,7376,16,1,0,0,0,0,22225,1,1,0,0,14849,2,4,2230,11700,1,0,2,4,0,0,103,5,5,0,0,4,8,4,4,2,10,14,8,11,0,0,2,0,0,31173,22225,4700,19473,0,77
9423,27546,21325,21325,1,469.53,1,8,1,77000.0,1,2,259,26,0,42,1,14,0,23232,23,1,0,0,0,0,251514,3,4,2,4,47380,1,1,2563,57900,1,4,1,5,0,0,125,6,3,2,0,4,8,4,4,11,9,10,8,14,0,0,3,0,0,305817,70612,20800,58173,0,43
9424,14835,15000,15000,1,321.75,1,7,1,65000.0,2,3,795,4,0,550,0,10,0,15270,22,1,0,0,0,0,302033,2,2,2,2,37412,2,3,5507,37600,1,1,1,6,0,0,136,5,2,3,0,6,6,6,8,8,7,11,6,10,0,0,4,0,0,340617,52682,35500,48017,1,33
9425,26876,35000,35000,1,889.92,3,16,1,57000.0,3,6,741,43,0,79,0,9,0,3499,29,1,0,0,0,0,199030,0,1,1,1,22790,0,0,3499,24200,0,2,1,2,0,0,269,36,9,5,0,1,1,4,5,15,7,9,1,9,0,0,1,0,0,226499,26289,18200,25000,0,73
9426,27344,7200,7200,0,253.63,2,13,1,89844.0,3,6,337,41,0,238,1,34,0,22024,89,1,0,0,0,0,339745,2,21,1,2,111600,5,12,2596,80600,3,3,8,15,0,0,32,4,4,1,27,3,6,5,6,71,12,17,6,34,0,0,7,0,0,378903,133624,18100,89603,0,67
9427,45476,15000,15000,0,490.45,1,8,1,90000.0,2,3,83,33,0,493,0,14,0,10475,20,1,0,0,0,1045,131976,1,0,0,0,0,2,5,2300,14300,0,0,1,5,0,0,218,5,5,2,2,8,12,8,9,1,13,17,12,14,0,0,2,0,0,161550,10475,9900,0,0,39
9428,30754,24000,24000,1,503.23,1,5,1,72000.0,1,2,309,9,0,550,0,16,0,25091,29,1,0,0,0,0,178174,2,2,0,1,30357,2,5,10921,53800,0,8,0,6,0,0,136,3,3,1,0,6,7,8,11,11,13,17,7,16,0,0,2,0,0,246574,55448,34700,44768,0,25
9429,31923,20000,20000,1,502.12,3,15,1,140000.0,2,3,83,33,1,244,0,18,0,5071,37,1,0,0,0,0,542891,1,4,4,6,47424,1,3,3510,35700,1,3,7,11,0,0,174,11,3,3,1,4,5,7,8,18,12,15,5,18,0,1,7,0,0,592261,52495,24900,65561,0,71
9430,28084,10400,10400,1,341.54,6,30,3,70000.0,2,3,835,36,0,543,0,12,1,6418,26,1,0,0,0,0,43220,0,4,0,0,36802,3,6,260,17500,0,0,1,6,0,0,225,9,9,0,0,1,4,4,12,7,8,19,4,12,0,0,3,1,0,66704,43220,4100,49204,0,105
9431,23348,15000,15000,0,550.07,3,17,3,90000.0,8,10,655,42,0,88,0,9,1,4194,18,1,0,0,0,0,35564,0,2,2,3,31370,0,1,2740,15300,1,2,5,4,0,0,162,13,7,0,1,3,3,5,5,7,7,11,3,9,0,0,2,0,1,50207,35564,7300,34907,0,76
9432,45702,4650,4650,0,141.61,0,1,3,83600.0,1,2,100,33,0,395,1,17,0,14174,24,1,0,0,0,0,42837,1,1,0,0,23406,3,9,6186,72500,0,0,2,9,0,0,59,5,5,2,1,6,6,12,12,5,15,17,6,17,0,0,3,0,0,120162,37580,67700,32204,0,3
9433,25727,7000,7000,0,224.01,1,5,1,52000.0,2,3,795,4,0,182,0,5,0,2272,10,1,0,0,0,1387,2272,1,0,0,0,0,2,2,1539,6700,0,0,1,2,0,0,265,3,3,0,0,2,3,3,6,1,5,9,3,5,0,0,2,0,0,6700,2272,3500,0,0,25
9434,45966,28000,28000,1,636.80,1,9,3,67000.0,1,2,714,5,0,294,0,9,0,22705,21,1,0,0,0,0,34962,0,2,0,1,12257,0,0,9623,31600,0,0,0,1,0,0,208,44,19,0,0,6,7,6,8,9,7,12,7,9,0,0,0,0,0,59400,34962,28600,27800,0,51
9435,30441,30000,30000,1,650.78,1,8,3,35000.0,1,2,480,22,0,180,0,11,0,25887,23,1,0,0,0,0,25887,0,0,0,0,0,0,0,11958,93200,0,0,0,0,0,0,289,38,38,3,0,2,4,4,4,3,11,16,4,11,0,0,0,0,0,93200,25887,84400,0,0,38
9436,30058,3000,3000,0,100.52,2,10,3,21000.0,1,2,651,42,0,599,0,5,0,1673,8,0,0,0,0,323,1673,0,0,0,0,0,4,5,269,11000,1,0,2,5,0,0,127,9,9,0,0,1,3,3,3,1,5,7,3,5,0,0,4,0,0,11000,1673,3500,0,0,48

In [195]:
df_no_na.dtypes

id                              int64
loan_amnt                       int64
funded_amnt                     int64
term                            int64
installment                   float64
grade                           int64
sub_grade                       int64
home_ownership                  int64
annual_inc                    float64
purpose                         int64
title                           int64
zip_code                        int64
addr_state                      int64
delinq_2yrs                     int64
earliest_cr_line                int64
inq_last_6mths                  int64
open_acc                        int64
pub_rec                         int64
revol_bal                       int64
total_acc                       int64
initial_list_status             int64
collections_12_mths_ex_med      int64
application_type                int64
acc_now_delinq                  int64
tot_coll_amt                    int64
tot_cur_bal                     int64
open_acc_6m                     int64
open_act_il                     int64
open_il_12m                     int64
open_il_24m                     int64
                               ...
total_cu_tl                     int64
inq_last_12m                    int64
acc_open_past_24mths            int64
chargeoff_within_12_mths        int64
delinq_amnt                     int64
mo_sin_old_rev_tl_op            int64
mo_sin_rcnt_rev_tl_op           int64
mo_sin_rcnt_tl                  int64
mort_acc                        int64
num_accts_ever_120_pd           int64
num_actv_bc_tl                  int64
num_actv_rev_tl                 int64
num_bc_sats                     int64
num_bc_tl                       int64
num_il_tl                       int64
num_op_rev_tl                   int64
num_rev_accts                   int64
num_rev_tl_bal_gt_0             int64
num_sats                        int64
num_tl_30dpd                    int64
num_tl_90g_dpd_24m              int64
num_tl_op_past_12m              int64
pub_rec_bankruptcies            int64
tax_liens                       int64
tot_hi_cred_lim                 int64
total_bal_ex_mort               int64
total_bc_limit                  int64
total_il_high_credit_limit      int64
disbursement_method             int64
int_rate_float                  int64
Length: 66, dtype: object

In [203]:
X = df_no_na[:-9437]
X_test = df_no_na[-9437:]
y = df_train_labels['charged_off']

dt = DecisionTreeClassifier(max_depth=3)
dt.fit(X,y)
dt.score(X,y)

0.8528546827394357

In [202]:
df_no_na.head()

,id,loan_amnt,funded_amnt,term,installment,grade,sub_grade,home_ownership,annual_inc,purpose,title,zip_code,addr_state,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,total_acc,initial_list_status,collections_12_mths_ex_med,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,total_bal_il,open_rv_12m,open_rv_24m,max_bal_bc,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,disbursement_method,int_rate_float
0,43373,12000,12000,0,422.01,2,14,1,81000.0,2,3,253,26,0,141,1,7,0,4912,15,1,0,0,0,0,174783,1,2,0,4,33668,2,5,2962,20900,1,1,2,9,0,0,23,1,1,1,2,2,2,2,2,9,4,5,2,7,0,0,2,0,0,206618,38580,5500,40863,0,66
1,24414,6300,6300,0,215.54,2,12,3,39000.0,2,3,792,4,0,406,1,10,0,11876,12,1,0,0,0,0,31046,0,1,0,2,19170,3,8,5153,20000,1,0,1,10,0,0,72,8,8,0,0,6,7,7,8,2,9,10,7,10,0,0,3,0,0,43140,31046,16900,23140,0,57
2,46723,4500,4500,0,139.38,0,2,3,78000.0,2,3,779,4,0,444,2,13,0,1715,19,1,0,0,0,0,35329,0,8,1,2,33614,1,1,1196,33300,4,0,3,3,0,0,218,10,10,0,0,3,3,3,4,13,5,6,3,13,0,0,2,0,0,65092,35329,23300,31792,0,13
3,24878,12000,12000,0,384.06,1,5,1,62000.0,2,3,403,34,0,189,0,22,0,9404,33,1,0,0,0,0,75160,4,1,0,2,17123,6,9,6898,57600,3,1,2,12,0,0,179,1,1,1,0,1,3,9,13,7,20,25,3,22,0,0,7,0,0,133065,26527,40500,25465,0,26
4,39038,12000,12000,0,460.47,3,19,1,70000.0,2,3,652,42,4,495,2,18,0,17895,45,1,0,0,0,7218,113702,9,2,2,4,16711,9,10,5373,73900,3,6,3,14,0,0,201,0,0,1,6,9,11,11,14,22,15,20,11,18,0,2,11,0,0,192842,34606,43300,24499,0,84

In [209]:
df_no_na= df_no_na.drop(columns=['id'])

In [200]:
y_pred = dt.predict_proba(X_test)

In [198]:
y_pred.shape

(9437, 2)

In [207]:
sample_submission = pd.read_csv('sample_submission.csv') 
submission = sample_submission.copy() 
submission['charged_off'] =dt.predict_proba(X_test)[:, 1] 
submission.to_csv('submission-001.csv', index=False)

In [187]:
import category_encoders as ce
import pandas as pd
from sklearn.pipeline import make_pipeline
from sklearn.tree import DecisionTreeClassifier

X = df_no_na[:-9437]
X_test = df_no_na[-9437:]
y = df_train_labels['charged_off']

pipe = make_pipeline(
    ce.OneHotEncoder(use_cat_names=True),
    DecisionTreeClassifier(max_depth=2)
)

In [188]:
pipe.fit(X, y)

Pipeline(memory=None,
     steps=[('onehotencoder', OneHotEncoder(cols=['term', 'grade', 'sub_grade', 'home_ownership', 'purpose', 'title', 'zip_code', 'addr_state', 'earliest_cr_line', 'initial_list_status', 'application_type', 'disbursement_method', 'int_rate_float'],
       drop_invariant=False, handle_unknown='impute', im...      min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'))])

In [189]:
pipe.score(X,y)

0.8528546827394357

In [190]:
y_pred = pipe.predict_proba(X_test)

In [191]:
# sample_submission = pd.read_csv('sample_submission.csv') 
first_submission= sample_submission.copy()
first_submission.charged_off = y_pred
first_submission.to_csv('manjula_forth.csv', index=False)