<a href="https://colab.research.google.com/github/derek-shing/DS-Unit-4-Sprint-1-Tree-Ensembles/blob/master/stock.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Get stock market info

Perform technical anaylsis

Get company info

get stock news - analsysi opinal


classifiy buy, sell , natural

In [0]:
import pandas as pd
import requests
import json

In [0]:
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=MSFT&interval=5min&outputsize=full&apikey=NXAA2P2XI1GQSYPG'

In [0]:
#SMA Example

sma = 'https://www.alphavantage.co/query?function=SMA&symbol=MSFT&interval=daily&time_period=10&series_type=open&apikey=NXAA2P2XI1GQSYPG'
response = requests.get(sma)

In [0]:
sma_data =response.json()

In [0]:
sma_data = sma_data['Technical Analysis: SMA']

In [0]:
df_sma = pd.DataFrame.from_dict(sma_data).T

In [53]:
df_sma.head()

                          SMA
2019-04-23 16:00:01  121.2300
2019-04-22           120.8010
2019-04-18           120.4780
2019-04-17           120.2690
2019-04-16           120.1310

In [0]:
# This API returns the moving average convergence / divergence (MACD) values. See also: Investopedia article and mathematical reference.

macd = 'https://www.alphavantage.co/query?function=MACD&symbol=MSFT&interval=daily&series_type=open&apikey=NXAA2P2XI1GQSYPG'
response = requests.get(macd)
df_macd = pd.DataFrame.from_dict(response.json()['Technical Analysis: MACD']).T

In [62]:
df_macd.head()

                       MACD MACD_Hist MACD_Signal
2019-04-23 16:00:01  2.1351    0.0724      2.0627
2019-04-22           2.0164   -0.0281      2.0446
2019-04-18           1.9863   -0.0653      2.0516
2019-04-17           1.9628   -0.1051      2.0679
2019-04-16           2.0009   -0.0933      2.0942

In [0]:
r = requests.get(url)

In [0]:
dir(r)

In [0]:
json_data = json.loads(r.text)

In [34]:
type(json_data)

dict

In [0]:
json_data

In [0]:
market_data = json_data['Time Series (Daily)']

In [0]:
df = pd.DataFrame.from_dict(market_data).T

In [54]:
df.head()

             1. open   2. high    3. low  4. close 5. volume
2019-04-23  124.1000  125.5800  123.8400  125.4400  22292833
2019-04-22  122.6200  124.0000  122.5700  123.7600  15648724
2019-04-18  122.1900  123.5200  121.3018  123.3700  27990998
2019-04-17  121.2400  121.8500  120.5400  121.7700  19300938
2019-04-16  121.6400  121.6500  120.1000  120.7700  14071787