# DS1 Tree Ensembles Assignment/Competition

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

## Data Overview

### Train Features

In [3]:
train = pd.read_csv('train_features.csv')

In [4]:
train.head()

,id,member_id,loan_amnt,funded_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,collections_12_mths_ex_med,mths_since_last_major_derog,application_type,annual_inc_joint,dti_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,disbursement_method
0,43373,NaN,12000,12000,36 months,16.02%,422.01,C,C5,Driver,4 years,MORTGAGE,81000.0,NaN,NaN,debt_consolidation,Debt consolidation,280xx,NC,12.76,0,Dec-2005,1,48.0,NaN,7,0,4912,23.5%,15,w,0,48.0,Individual,NaN,NaN,0,0,174783,1,2,0,4,13.0,33668,82.0,2,5,2962,63.0,20900,1,1,2,9,24969.0,588.0,89.3,0,0,145.0,23,1,1,1,8.0,NaN,1.0,NaN,2,2,2,2,2,9,4,5,2,7,0.0,0,0,2,92.9,100.0,0,0,206618,38580,5500,40863,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash
1,24414,NaN,6300,6300,36 months,14.07%,215.54,C,C3,GMP Lead,4 years,RENT,39000.0,NaN,NaN,debt_consolidation,Debt consolidation,920xx,CA,21.42,0,Mar-2012,1,NaN,NaN,10,0,11876,59.4%,12,w,0,NaN,Individual,NaN,NaN,0,0,31046,0,1,0,2,14.0,19170,83.0,3,8,5153,72.0,20000,1,0,1,10,3105.0,6877.0,59.3,0,0,17.0,72,8,8,0,8.0,NaN,6.0,NaN,0,6,7,7,8,2,9,10,7,10,0.0,0,0,3,100.0,42.9,0,0,43140,31046,16900,23140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash
2,46723,NaN,4500,4500,36 months,7.21%,139.38,A,A3,Accounts,3 years,RENT,78000.0,NaN,NaN,debt_consolidation,Debt consolidation,906xx,CA,2.17,0,May-2000,2,NaN,NaN,13,0,1715,5.2%,19,w,0,NaN,Individual,NaN,NaN,0,0,35329,0,8,1,2,10.0,33614,106.0,1,1,1196,54.0,33300,4,0,3,3,2718.0,21585.0,7.4,0,0,166.0,218,10,10,0,31.0,NaN,1.0,NaN,0,3,3,3,4,13,5,6,3,13,0.0,0,0,2,100.0,0.0,0,0,65092,35329,23300,31792,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash
3,24878,NaN,12000,12000,36 months,9.44%,384.06,B,B1,Client Processing Associate,10+ years,MORTGAGE,62000.0,NaN,NaN,debt_consolidation,Debt consolidation,441xx,OH,13.76,0,Feb-2003,0,NaN,NaN,22,0,9404,16.3%,33,w,0,NaN,Individual,NaN,NaN,0,0,75160,4,1,0,2,13.0,17123,67.0,6,9,6898,32.0,57600,3,1,2,12,3579.0,33602.0,17.0,0,0,162.0,179,1,1,1,1.0,NaN,5.0,NaN,0,1,3,9,13,7,20,25,3,22,0.0,0,0,7,100.0,0.0,0,0,133065,26527,40500,25465,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash
4,39038,NaN,12000,12000,36 months,22.35%,460.47,D,D5,Construction Operator,10+ years,MORTGAGE,70000.0,NaN,NaN,debt_consolidation,Debt consolidation,751xx,TX,14.04,4,Nov-2001,2,13.0,NaN,18,0,17895,24.2%,45,w,0,13.0,Individual,NaN,NaN,0,7218,113702,9,2,2,4,6.0,16711,68.0,9,10,5373,35.0,73900,3,6,3,14,6317.0,32863.0,24.1,0,0,159.0,201,0,0,1,0.0,62.0,3.0,62.0,6,9,11,11,14,22,15,20,11,18,0.0,0,2,11,82.2,9.1,0,0,192842,34606,43300,24499,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash

### Train Labels

In [5]:
train_labels = pd.read_csv('train_labels.csv')

In [6]:
train_labels.head()

      id  charged_off
0  43373            0
1  24414            0
2  46723            0
3  24878            0
4  39038            0

In [59]:
train_labels.charged_off.value_counts()

0    32191
1     5554
Name: charged_off, dtype: int64

In [7]:
train_labels.shape

(37745, 2)

### Test Features

In [30]:
test = pd.read_csv('test_features.csv')

In [31]:
test.head()

,id,member_id,loan_amnt,funded_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,collections_12_mths_ex_med,mths_since_last_major_derog,application_type,annual_inc_joint,dti_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,disbursement_method
0,57146,NaN,18500,18500,60 months,25.82%,551.93,E,E4,Account Service Representative,10+ years,MORTGAGE,87000.0,NaN,NaN,debt_consolidation,Debt consolidation,452xx,OH,22.07,0,Jun-2007,3,NaN,111.0,20,1,5504,16.9%,37,w,0,NaN,Individual,NaN,NaN,0,200,212122,2,5,4,6,1.0,105151,88.0,2,3,2991,66.0,32500,6,3,12,10,10606.0,16813.0,23.9,0,0,127.0,55,7,1,2,8.0,NaN,1.0,NaN,0,4,5,8,9,20,14,15,5,20,0.0,0,0,6,100.0,0.0,1,0,250214,110655,22100,113624,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash
1,20988,NaN,36000,36000,60 months,12.61%,811.95,C,C1,Vice President of IT,7 years,MORTGAGE,165000.0,NaN,NaN,other,Other,480xx,MI,13.39,0,Oct-1992,0,31.0,NaN,12,0,21833,42.6%,21,w,0,NaN,Individual,NaN,NaN,0,0,42059,2,2,1,2,6.0,20226,56.0,1,3,5880,48.0,51200,1,0,1,5,3505.0,19340.0,41.4,0,0,304.0,131,4,4,0,15.0,31.0,6.0,31.0,0,3,7,6,6,6,10,14,7,12,0.0,0,0,2,85.7,16.7,0,0,87584,42059,33000,36384,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash
2,10031,NaN,12000,12000,36 months,22.90%,463.90,E,E1,Director of Technology,4 years,MORTGAGE,110000.0,NaN,NaN,debt_consolidation,Debt consolidation,972xx,OR,15.82,1,Dec-2004,0,7.0,NaN,4,0,19930,97.2%,11,f,0,NaN,Individual,NaN,NaN,0,0,170912,0,1,1,1,8.0,25739,86.0,0,0,10385,90.0,20500,0,0,0,1,42728.0,570.0,97.2,0,0,130.0,162,42,8,2,42.0,NaN,19.0,NaN,0,2,2,2,3,4,2,5,2,4,0.0,0,0,1,81.8,100.0,0,0,210150,45669,20500,30000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash
3,33892,NaN,24875,24875,60 months,11.98%,553.08,B,B5,vp,10+ years,MORTGAGE,105000.0,NaN,NaN,other,Other,463xx,IN,6.91,0,Nov-1995,1,NaN,NaN,7,0,29537,47.3%,24,w,0,NaN,Individual,NaN,NaN,0,0,507349,0,0,0,1,18.0,0,NaN,0,1,12097,47.0,62400,1,1,2,3,84558.0,27863.0,51.5,0,0,126.0,268,22,15,3,65.0,NaN,4.0,NaN,0,4,4,5,7,9,6,12,4,7,0.0,0,0,0,100.0,25.0,0,0,547400,29537,57400,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash
4,35374,NaN,4000,4000,36 months,10.91%,130.79,B,B4,Sales consultant,< 1 year,MORTGAGE,20000.0,NaN,NaN,other,Other,705xx,LA,69.96,0,Sep-2003,0,NaN,NaN,16,0,5863,18.8%,28,w,0,NaN,Joint App,66000.0,32.72,0,0,169662,1,2,1,2,10.0,43585,85.0,0,4,1013,46.0,31200,10,2,5,7,10604.0,4533.0,37.9,0,0,159.0,53,19,2,2,22.0,NaN,4.0,NaN,0,6,10,6,7,12,13,14,10,16,0.0,0,0,2,100.0,0.0,0,0,209852,49448,7300,58652,6169.0,Sep-2003,0.0,2.0,7.0,22.9,3.0,3.0,0.0,0.0,NaN,Cash

In [32]:
test.shape

(9437, 103)

### Sample Submission DF

In [8]:
sample_submission = pd.read_csv('sample_submission.csv')

In [9]:
sample_submission.head()

      id  charged_off
0  57146          0.5
1  20988          0.5
2  10031          0.5
3  33892          0.5
4  35374          0.5

In [10]:
sample_submission.shape

(9437, 2)

## Majority Class Baseline

In [68]:
# setting a y_pred array
# same length as test set & filled with train_label mode
y_pred = np.full(test.shape[0],
                train_labels.charged_off.mode()[0])

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [ ]:
len(test.id.values)

In [70]:
majority_baseline = sample_submission.copy() 
majority_baseline['charged_off'] = y_pred

In [71]:
majority_baseline.head()

      id  charged_off
0  57146            0
1  20988            0
2  10031            0
3  33892            0
4  35374            0

In [73]:
majority_baseline.shape

(9437, 2)

In [72]:
#majority_baseline.to_csv('submission-001.csv', index=False)

## First Round

### Cleaning Train DF

#### Dropping All Columns w/NaNs > 20,000 & Dropping Rows w/NaNs After

In [34]:
train.shape

(37745, 103)

In [14]:
train.isna().sum()

id                                         0
member_id                              37745
loan_amnt                                  0
funded_amnt                                0
term                                       0
int_rate                                   0
installment                                0
grade                                      0
sub_grade                                  0
emp_title                               3565
emp_length                              3277
home_ownership                             0
annual_inc                                 0
url                                    37745
desc                                   37745
purpose                                    0
title                                      0
zip_code                                   0
addr_state                                 0
dti                                       92
delinq_2yrs                                0
earliest_cr_line                           0
inq_last_6mths                             0
mths_since_last_delinq                 20881
mths_since_last_record                 32170
open_acc                                   0
pub_rec                                    0
revol_bal                                  0
revol_util                                53
total_acc                                  0
initial_list_status                        0
collections_12_mths_ex_med                 0
mths_since_last_major_derog            28640
application_type                           0
annual_inc_joint                       33007
dti_joint                              33007
acc_now_delinq                             0
tot_coll_amt                               0
tot_cur_bal                                0
open_acc_6m                                0
open_act_il                                0
open_il_12m                                0
open_il_24m                                0
mths_since_rcnt_il                      1234
total_bal_il                               0
il_util                                 6255
open_rv_12m                                0
open_rv_24m                                0
max_bal_bc                                 0
all_util                                  13
total_rev_hi_lim                           0
inq_fi                                     0
total_cu_tl                                0
inq_last_12m                               0
acc_open_past_24mths                       0
avg_cur_bal                                3
bc_open_to_buy                           643
bc_util                                  667
chargeoff_within_12_mths                   0
delinq_amnt                                0
mo_sin_old_il_acct                      1234
mo_sin_old_rev_tl_op                       0
mo_sin_rcnt_rev_tl_op                      0
mo_sin_rcnt_tl                             0
mort_acc                                   0
mths_since_recent_bc                     597
mths_since_recent_bc_dlq               29995
mths_since_recent_inq                   3146
mths_since_recent_revol_delinq         26574
num_accts_ever_120_pd                      0
num_actv_bc_tl                             0
num_actv_rev_tl                            0
num_bc_sats                                0
num_bc_tl                                  0
num_il_tl                                  0
num_op_rev_tl                              0
num_rev_accts                              0
num_rev_tl_bal_gt_0                        0
num_sats                                   0
num_tl_120dpd_2m                        1010
num_tl_30dpd                               0
num_tl_90g_dpd_24m                         0
num_tl_op_past_12m                         0
pct_tl_nvr_dlq                             1
percent_bc_gt_75                         643
pub_rec_bankruptcies                       0
tax_liens                                  0
tot_hi_cred_lim                            0
total_bal_ex_mort                          0
total_bc_limit                             0
total_il_high_credit_limit                 0
revol_bal_joint                        33007
sec_app_earliest_cr_line               33007
sec_app_inq_last_6mths                 33007
sec_app_mort_acc                       33007
sec_app_open_acc                       33007
sec_app_revol_util                     33106
sec_app_open_act_il                    33007
sec_app_num_rev_accts                  33007
sec_app_chargeoff_within_12_mths       33007
sec_app_collections_12_mths_ex_med     33007
sec_app_mths_since_last_major_derog    36077
disbursement_method                        0
dtype: int64

#### Copy of train DF `train1`

In [80]:
train1 = train.dropna(axis='columns', thresh=20000)

#### Merging `train1` DF with `train_labels` to Check if rows with NaNs pay loan or not

In [83]:
train1 = pd.merge(train1, train_labels, on='id', how='inner')

In [84]:
train1.isna().sum()

id                               0
loan_amnt                        0
funded_amnt                      0
term                             0
int_rate                         0
installment                      0
grade                            0
sub_grade                        0
emp_title                     3565
emp_length                    3277
home_ownership                   0
annual_inc                       0
purpose                          0
title                            0
zip_code                         0
addr_state                       0
dti                             92
delinq_2yrs                      0
earliest_cr_line                 0
inq_last_6mths                   0
open_acc                         0
pub_rec                          0
revol_bal                        0
revol_util                      53
total_acc                        0
initial_list_status              0
collections_12_mths_ex_med       0
application_type                 0
acc_now_delinq                   0
tot_coll_amt                     0
tot_cur_bal                      0
open_acc_6m                      0
open_act_il                      0
open_il_12m                      0
open_il_24m                      0
mths_since_rcnt_il            1234
total_bal_il                     0
il_util                       6255
open_rv_12m                      0
open_rv_24m                      0
max_bal_bc                       0
all_util                        13
total_rev_hi_lim                 0
inq_fi                           0
total_cu_tl                      0
inq_last_12m                     0
acc_open_past_24mths             0
avg_cur_bal                      3
bc_open_to_buy                 643
bc_util                        667
chargeoff_within_12_mths         0
delinq_amnt                      0
mo_sin_old_il_acct            1234
mo_sin_old_rev_tl_op             0
mo_sin_rcnt_rev_tl_op            0
mo_sin_rcnt_tl                   0
mort_acc                         0
mths_since_recent_bc           597
mths_since_recent_inq         3146
num_accts_ever_120_pd            0
num_actv_bc_tl                   0
num_actv_rev_tl                  0
num_bc_sats                      0
num_bc_tl                        0
num_il_tl                        0
num_op_rev_tl                    0
num_rev_accts                    0
num_rev_tl_bal_gt_0              0
num_sats                         0
num_tl_120dpd_2m              1010
num_tl_30dpd                     0
num_tl_90g_dpd_24m               0
num_tl_op_past_12m               0
pct_tl_nvr_dlq                   1
percent_bc_gt_75               643
pub_rec_bankruptcies             0
tax_liens                        0
tot_hi_cred_lim                  0
total_bal_ex_mort                0
total_bc_limit                   0
total_il_high_credit_limit       0
disbursement_method              0
charged_off                      0
dtype: int64

#### Looking into Rows with NaNs

In [85]:
# `emp_title` has 3565 rows with NaNs
# will fill with "No Title"
train1.emp_title.value_counts()

Teacher                                    630
Manager                                    630
Owner                                      381
Driver                                     322
Supervisor                                 264
Registered Nurse                           254
Sales                                      252
RN                                         234
Project Manager                            190
Office Manager                             163
Engineer                                   131
Director                                   131
owner                                      130
General Manager                            126
President                                  113
Supervisor                                 101
manager                                    100
Accountant                                 100
Operations Manager                          98
Technician                                  96
Administrative Assistant                    96
Vice President                              94
Truck Driver                                92
teacher                                     89
Police Officer                              87
Nurse                                       86
Mechanic                                    80
Sales Manager                               80
Analyst                                     79
Store Manager                               73
Account Manager                             70
Manager                                     70
Server                                      69
driver                                      67
Software Engineer                           63
Attorney                                    61
Branch Manager                              61
Executive Assistant                         61
Operator                                    60
Paralegal                                   60
CEO                                         58
Truck driver                                58
sales                                       55
Consultant                                  53
Teacher                                     53
Electrician                                 52
Assistant Manager                           51
Controller                                  51
Owner                                       51
Program Manager                             50
Registered nurse                            47
Business Analyst                            47
Clerk                                       46
Professor                                   45
Account Executive                           45
Foreman                                     45
IT Manager                                  44
Cook                                        43
Administrator                               43
Executive Director                          43
Realtor                                     43
Director of Operations                      41
Physician                                   41
truck driver                                40
supervisor                                  40
Customer Service                            40
LPN                                         40
Associate                                   39
Cashier                                     38
Underwriter                                 38
CNA                                         38
Maintenance                                 37
Machinist                                   36
Receptionist                                36
Bartender                                   36
Chef                                        36
Principal                                   35
Driver                                      35
Welder                                      34
Managing Director                           34
Accounting Manager                          34
Maintenance                                 33
Store manager                               33
Medical Assistant                           33
Laborer                                     32
Service Manager                             32
Financial Analyst                           32
Registered Nurse                            32
Secretary                                   32
Pilot                                       31
Sales Associate                             30
Marketing Manager                           30
Administration                              30
mechanic                                    30
Superintendent                              30
Technician                                  30
Machine Operator                            30
Social Worker                               29
Officer                                     28
Financial Advisor                           28
Superintendent                              27
Legal Assistant                             27
VP                                          27
Bookkeeper                                  27
registered nurse                            26
Management                                  26
Software Developer                          26
Senior Manager                              26
Mechanic                                    26
Property Manager                            26
Loan Officer                                26
General manager                             26
Police officer                              26
Legal Secretary                             26
Case Manager                                25
Senior Project Manager                      25
Firefighter                                 25
Sales                                       25
Designer                                    25
technician                                  25
Accounting                                  25
Team Leader                                 24
Correctional Officer                        24
Recruiter                                   24
Custodian                                   24
Truck driver                                24
Agent                                       23
Production Manager                          23
District Manager                            23
Senior Consultant                           23
Investigator                                23
Carpenter                                   23
Assistant Principal                         23
Plant Manager                               23
IT                                          23
HR Manager                                  23
Partner                                     23
nurse                                       23
Caregiver                                   23
Auditor                                     23
Regional Manager                            22
IT Specialist                               22
Estimator                                   22
engineer                                    22
Admin                                       22
Security Officer                            22
Sales manager                               22
Pharmacist                                  22
SALES                                       22
Dispatcher                                  22
Truck Driver                                22
Instructor                                  21
Director                                    21
CSR                                         21
Maintenance Supervisor                      21
Flight Attendant                            21
Systems Engineer                            21
Pharmacy Technician                         21
Educator                                    21
Sergeant                                    21
CFO                                         21
MANAGER                                     20
Management                                  20
Sales Rep                                   20
Project manager                             20
OWNER                                       20
Programmer                                  20
Medical Assistant                           20
Bus Operator                                20
Registered nurse                            20
Trainer                                     19
Physician Assistant                         19
Network Engineer                            19
Personal Banker                             19
Counselor                                   19
Machine operator                            19
Senior Software Engineer                    19
Operations Supervisor                       19
Vice President                              19
Systems Analyst                             18
Assistant manager                           18
office manager                              18
Area Manager                                18
Branch manager                              18
Purchasing Manager                          18
Finance Manager                             18
Practice Manager                            18
Deputy Sheriff                              18
Warehouse Manager                           18
Security                                    18
Associate Director                          18
Coordinator                                 18
Staff Accountant                            18
Inspector                                   18
Engineering Manager                         17
Conductor                                   17
Nurse Practitioner                          17
Receptionist                                17
Marketing                                   17
Police officer                              17
Product Manager                             17
President                                   17
Service Technician                          17
Human Resources                             17
Assistant Director                          16
Office Assistant                            16
Operations manager                          16
Scientist                                   16
Dental Assistant                            16
Office manager                              16
Systems Administrator                       16
Pastor                                      16
Territory Manager                           16
Graphic Designer                            16
Assistant Professor                         16
Customer service                            16
HR Director                                 16
Teller                                      16
Project Coordinator                         16
Electrician                                 16
Rn                                          16
Tech                                        16
Store manager                               16
Program Analyst                             16
president                                   15
Production                                  15
Relationship Manager                        15
Electrical Engineer                         15
General Manager                             15
Delivery Driver                             15
Real Estate Agent                           15
Assistant General Manager                   15
Project Manager                             15
Letter Carrier                              15
Buyer                                       15
Courier                                     15
Customer Service                            15
Production Supervisor                       15
Claims Adjuster                             15
Physical Therapist                          15
machine operator                            15
Warehouse                                   15
Banker                                      15
Data Analyst                                15
Business Manager                            15
Insurance Agent                             15
Therapist                                   15
Accountant                                  14
Administrative Assistant                    14
Senior Accountant                           14
                                          ...
Purchasing                                   1
Senior Computer Systems Analyst              1
Customer Relationship Manager                1
Equipment Service Engineer                   1
Senior Office Specialist                     1
Immigration Enforcement Agent                1
TCR                                          1
Marketing Diretor                            1
Driver/Installer                             1
Lighting Project Manager                     1
Casino Manager                               1
Fitness Instructor                           1
Training Non Commished Officer               1
Welder fabrication                           1
Risk Management Supervisor                   1
LOAN OFFICER ASSISTANT                       1
Driver and skilled labor                     1
Community Banking Manager                    1
Installation Specialist                      1
Tech customer support                        1
Lead Reservoir Engineer                      1
Corporate Safety Manager                     1
Financial Management Analyst                 1
field service technian                       1
produce                                      1
Tennis Professional                          1
FIELD SUPERVISOR                             1
Electrician journeyman                       1
forman                                       1
IT Engineer                                  1
Waste Water Technician                       1
Customer service supervisor                  1
Senior Manager for Multimedia Sales          1
Machine operater                             1
Valve Tech                                   1
Sr. Business Process Consultant              1
Quality Director                             1
Director of Community & Outreach             1
Truck Driver / Owner                         1
Manager, Learning and Development            1
Building Engineer                            1
Content Strategist                           1
Bookkeeping & Payroll Manager                1
Metal Tender                                 1
Chief of Staff                               1
Lead Installer and Programmer                1
Table Games D/R Supervisor                   1
Sr. Admin Assistant                          1
Sales/Marketing                              1
Senior Supply Chain Analyst                  1
Airline Mechanic                             1
CEO art director                             1
Fire marshal                                 1
Regulatory Compliance                        1
claims specialist                            1
Account Group Director                       1
Director of Recruitment                      1
Emergency room technician                    1
I.T. Support Tech                            1
Optical Supervisor                           1
SSA / GS-12                                  1
Social Service Supervisor                    1
Day Care Provider                            1
Pharmaceutical driver                        1
Head of Global Market Strategy               1
Merchandise Planner                          1
Lead Security Manager                        1
Regulatory Analyst                           1
Senior Specialist, Desktop Support           1
Part owner                                   1
Front Desk Clerk                             1
OT                                           1
Advanced Refining Inspector                  1
Quality associate                            1
Mail/Data Entry                              1
maint. eng                                   1
Journeyman Mechanic                          1
SVP, Consumer Lending                        1
Final assembly                               1
Accountant Advanced                          1
Client Solutions Executive                   1
Package car driver                           1
Owner/Director                               1
Manager Legal Discovery                      1
Sr. Mortgage Loan Originator                 1
Mortgage Analyst                             1
Factory                                      1
Director of Resort Operations                1
Rsa                                          1
Underwriting supervisor                      1
Field Services Manager                       1
meduical assistant                           1
Ground Opperations                           1
Deputy Program Manager                       1
Accounts Payable Analyst                     1
Veterinary Professional                      1
Routeman                                     1
Mobile Sales Associate                       1
VP LENDING                                   1
Software process engineer                    1
LOSS PREVENTION ANALYST                      1
aid                                          1
Senior Director, Program Implementation      1
Nail tech                                    1
Car mechanic                                 1
Associate/Assistant Shift Person             1
Airport Dispatcher                           1
Sales ,assistant manager                     1
Paint                                        1
Receiving Supervisor                         1
Wiring                                       1
Audio tech                                   1
Surface                                      1
nail technician                              1
SORT                                         1
night manager                                1
RSR Driver                                   1
Sgt.                                         1
Sr MDM Analyst                               1
Purchasing/Inventory                         1
Sakes Support Specialist                     1
Tattoo Artist                                1
LAN/WAN Manager                              1
Program Supervisor                           1
Lead Shipping and Receiving                  1
Field Auditor Supervisor                     1
Sr Treasury Analyst                          1
Support Associate                            1
Carry out cafe assistant manager             1
lead worker                                  1
porter                                       1
Auto Adjuster III                            1
Parts and Service Director                   1
Human Resource Specialist                    1
systems engineering                          1
Equipment Specialist                         1
Computer Security Engineer                   1
Corporate Risk Manager                       1
radiology technologist                       1
Foodserver                                   1
Backtender                                   1
IT Process eng.                              1
Happiness Engineer                           1
mantenimiento                                1
ANSF Instructor                              1
Chief of Safety                              1
Director of Operations/Technology            1
Admin Assistant/ Bookeeper                   1
Chief Warrant Officer                        1
Assistant Front End Manager                  1
Die Setter                                   1
Worship Leader                               1
book keeper                                  1
Platform Engineer                            1
Director of Strategic Sourcing               1
Aerospace Propulsion Journeyman              1
Sr. Trust Officer                            1
Plant Engineering Supervisor                 1
certified nursing assistant                  1
County Administrator                         1
Senior Claim Examiner                        1
Senior Manager - Accounting                  1
Paper Buyer                                  1
fork lift operator                           1
Software QA Engineer                         1
Slot service Rep                             1
Benefits administrator                       1
O-3                                          1
Sustating VoIP Engineer                      1
Hydrogeologist                               1
sheetmetal                                   1
Banquet Manager                              1
Mortgage Specialist                          1
Associate Paralegal                          1

In [86]:
# `emp_length` has 3277 rows with NaNs
# will fill with 
train1.emp_length.value_counts()

10+ years    12707
2 years       3361
3 years       3066
< 1 year      2865
4 years       2435
1 year        2400
5 years       2319
6 years       1673
7 years       1440
8 years       1206
9 years        996
Name: emp_length, dtype: int64

In [90]:
train1['charged_off'][train1['emp_title'].isna()]

6        0
8        0
18       0
25       1
28       0
47       0
49       1
60       0
62       0
63       0
64       0
69       0
79       0
127      0
130      0
150      0
153      0
161      0
180      0
185      0
199      0
210      0
223      0
224      1
239      0
245      0
252      1
261      0
264      0
278      0
279      1
283      1
286      0
288      0
300      1
326      0
343      0
344      1
351      0
355      1
361      0
365      1
371      1
390      0
408      0
412      0
419      0
431      0
435      0
441      1
444      0
451      0
466      0
475      0
502      0
512      0
527      0
547      0
553      1
576      0
585      0
601      0
605      0
612      0
613      0
621      0
623      1
646      0
650      0
656      0
658      1
669      0
681      0
702      0
724      0
731      1
739      1
743      0
744      0
751      1
763      0
774      0
780      0
784      0
810      0
813      0
856      0
898      0
900      1
920      0
922      0
926      1
948      0
949      0
951      0
959      0
974      0
983      1
1005     0
1007     0
1012     0
1030     0
1035     0
1062     0
1080     1
1083     1
1086     0
1089     0
1099     1
1106     0
1113     1
1115     0
1117     0
1121     1
1132     1
1133     1
1165     0
1167     0
1181     0
1206     0
1208     0
1212     0
1220     1
1238     0
1269     0
1301     0
1310     0
1313     0
1336     0
1354     0
1357     0
1376     1
1378     0
1390     0
1395     0
1401     0
1419     0
1425     0
1431     1
1452     0
1461     0
1463     0
1497     0
1510     0
1522     0
1558     1
1564     1
1575     0
1576     0
1582     0
1619     0
1636     0
1643     0
1649     1
1652     1
1662     0
1663     0
1674     0
1682     0
1689     0
1701     0
1703     1
1706     1
1717     0
1751     1
1755     0
1770     1
1776     0
1780     0
1787     0
1802     0
1816     1
1830     0
1843     0
1847     0
1859     0
1874     1
1881     1
1884     0
1891     0
1894     0
1896     1
1901     0
1904     0
1917     0
1918     1
1920     0
1922     1
1926     0
1928     1
1943     0
1960     0
1975     0
1982     0
1993     0
2011     1
2014     0
2018     0
2029     0
2055     0
2060     0
2065     0
2072     0
2073     1
2081     0
2083     0
2091     1
2093     1
2109     1
2117     0
2138     0
2158     1
2166     0
2176     0
2203     0
2228     0
2247     0
2251     0
2268     1
2275     0
2288     1
2290     0
2292     0
2297     0
2299     0
2315     0
2352     0
2356     0
2373     0
2398     0
2408     0
2416     0
2420     0
2425     1
2432     0
2450     0
2473     0
2480     0
2483     0
2496     0
2497     0
2498     0
2501     0
2507     0
2521     0
2527     0
2551     0
2567     0
2572     1
2578     0
        ..
35109    0
35136    0
35143    1
35153    0
35159    1
35167    0
35173    0
35194    0
35199    0
35214    0
35227    0
35239    0
35243    0
35264    0
35272    1
35281    1
35285    0
35308    1
35319    0
35326    0
35340    0
35347    0
35351    0
35356    0
35362    1
35366    0
35370    0
35391    0
35402    1
35420    0
35426    0
35436    0
35443    0
35445    0
35449    1
35455    0
35495    0
35561    0
35563    1
35569    0
35574    1
35583    1
35593    0
35594    0
35625    0
35628    0
35635    0
35637    0
35640    1
35645    1
35646    0
35649    0
35650    0
35655    0
35659    0
35661    0
35670    0
35680    0
35695    1
35697    0
35706    0
35707    0
35713    0
35730    0
35739    0
35745    1
35749    0
35753    1
35754    1
35774    1
35775    1
35776    0
35785    0
35786    0
35801    0
35820    0
35822    0
35826    0
35830    1
35846    1
35861    0
35871    0
35894    1
35920    1
35958    1
35976    1
35981    1
35992    0
35995    0
35998    0
36021    0
36022    0
36038    0
36043    0
36056    0
36063    0
36065    1
36073    0
36104    0
36119    0
36123    0
36130    1
36135    1
36141    1
36143    0
36199    0
36201    0
36226    0
36236    0
36240    1
36247    0
36252    0
36255    0
36265    1
36272    0
36287    0
36301    0
36322    0
36329    0
36340    0
36354    0
36365    1
36375    0
36389    0
36392    1
36425    0
36433    0
36439    1
36448    0
36452    1
36458    0
36461    0
36471    0
36479    0
36482    0
36489    1
36506    0
36509    0
36528    0
36536    1
36550    0
36571    0
36573    0
36593    1
36594    0
36596    0
36619    0
36641    0
36646    1
36675    0
36682    1
36687    0
36689    0
36690    0
36697    0
36701    0
36720    0
36741    0
36753    0
36766    0
36771    0
36802    0
36807    0
36810    0
36829    0
36848    0
36864    0
36866    0
36878    0
36883    0
36895    0
36901    0
36907    0
36918    0
36923    0
36932    0
36961    1
36973    0
36974    1
36975    0
36983    1
36984    0
36988    0
37008    0
37045    0
37048    0
37052    0
37066    1
37068    1
37082    0
37116    0
37125    0
37126    0
37134    0
37139    0
37160    0
37199    0
37207    0
37247    1
37272    0
37288    0
37295    0
37313    0
37314    0
37319    0
37327    0
37334    0
37339    0
37357    0
37362    0
37365    0
37366    1
37390    0
37407    0
37415    0
37421    0
37424    0
37426    0
37428    0
37439    0
37446    0
37451    0
37467    0
37479    1
37483    1
37496    0
37499    1
37520    0
37522    1
37555    0
37558    1
37563    0
37568    0
37573    0
37592    0
37603    0
37623    0
37624    1
37625    0
37649    0
37673    0
37682    0
37683    0
37684    0
37685    0
37700    0
37718    1
37719    0
37727    0
37733    0
Name: charged_off, Length: 3565, dtype: int64

In [17]:
train1 = train1.dropna(axis='index')

In [18]:
train1.shape

(25634, 82)

In [19]:
dropped_cols = []
for col in train.columns:
    if col not in train1.columns:
        dropped_cols.append(col)

dropped_cols

['member_id',
 'url',
 'desc',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'mths_since_last_major_derog',
 'annual_inc_joint',
 'dti_joint',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_revol_delinq',
 'revol_bal_joint',
 'sec_app_earliest_cr_line',
 'sec_app_inq_last_6mths',
 'sec_app_mort_acc',
 'sec_app_open_acc',
 'sec_app_revol_util',
 'sec_app_open_act_il',
 'sec_app_num_rev_accts',
 'sec_app_chargeoff_within_12_mths',
 'sec_app_collections_12_mths_ex_med',
 'sec_app_mths_since_last_major_derog']

In [20]:
train1.term.unique()

array([' 36 months', ' 60 months'], dtype=object)

In [21]:
train1.int_rate.unique()

array([' 16.02%', ' 14.07%', '  7.21%', '  9.44%', ' 22.35%', ' 11.99%',
       '  6.72%', '  5.31%', ' 22.90%', ' 10.08%', ' 12.62%', ' 17.09%',
       ' 14.08%', ' 12.61%', ' 23.40%', ' 11.55%', ' 11.06%', ' 10.42%',
       ' 10.90%', ' 17.97%', '  7.56%', '  6.71%', ' 27.27%', ' 21.85%',
       ' 10.91%', '  5.32%', ' 13.06%', '  6.83%', ' 15.05%', '  7.46%',
       '  6.11%', ' 16.14%', ' 30.75%', '  7.96%', ' 12.13%', ' 18.94%',
       '  9.92%', ' 19.03%', ' 10.47%', ' 19.42%', ' 18.45%', ' 24.84%',
       ' 18.06%', ' 10.07%', ' 17.47%', ' 11.98%', '  6.08%', '  9.93%',
       ' 25.81%', '  9.43%', ' 16.91%', ' 10.41%', ' 11.05%', '  8.46%',
       ' 21.45%', ' 16.46%', ' 24.85%', '  9.58%', ' 10.56%', '  7.34%',
       ' 14.03%', ' 16.01%', ' 15.02%', ' 20.39%', ' 10.33%', '  7.97%',
       ' 30.65%', ' 13.59%', '  7.84%', ' 25.82%', ' 20.00%', ' 13.58%',
       ' 12.73%', '  8.08%', ' 15.04%', ' 15.49%', '  7.35%', ' 14.52%',
       '  6.07%', ' 11.31%', ' 26.30%', '  6.67%', '  6.19%', '  8.19%',
       ' 14.47%', ' 13.56%', ' 28.72%', ' 30.84%', ' 20.89%', ' 11.80%',
       ' 24.37%', ' 30.79%', ' 23.88%', ' 19.92%', ' 22.91%', ' 26.31%',
       ' 26.77%', '  7.02%', ' 30.17%', ' 23.87%', ' 25.34%', ' 10.72%',
       ' 29.69%', ' 12.98%', '  6.46%', '  6.00%', '  8.81%', ' 30.89%'],
      dtype=object)

In [22]:
train1['int_rate'] = pd.to_numeric(train1['int_rate'].str.replace('%', ''))

In [23]:
train1.head()

,id,loan_amnt,funded_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,collections_12_mths_ex_med,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_inq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,disbursement_method
0,43373,12000,12000,36 months,16.02,422.01,C,C5,Driver,4 years,MORTGAGE,81000.0,debt_consolidation,Debt consolidation,280xx,NC,12.76,0,Dec-2005,1,7,0,4912,23.5%,15,w,0,Individual,0,0,174783,1,2,0,4,13.0,33668,82.0,2,5,2962,63.0,20900,1,1,2,9,24969.0,588.0,89.3,0,0,145.0,23,1,1,1,8.0,1.0,2,2,2,2,2,9,4,5,2,7,0.0,0,0,2,92.9,100.0,0,0,206618,38580,5500,40863,Cash
1,24414,6300,6300,36 months,14.07,215.54,C,C3,GMP Lead,4 years,RENT,39000.0,debt_consolidation,Debt consolidation,920xx,CA,21.42,0,Mar-2012,1,10,0,11876,59.4%,12,w,0,Individual,0,0,31046,0,1,0,2,14.0,19170,83.0,3,8,5153,72.0,20000,1,0,1,10,3105.0,6877.0,59.3,0,0,17.0,72,8,8,0,8.0,6.0,0,6,7,7,8,2,9,10,7,10,0.0,0,0,3,100.0,42.9,0,0,43140,31046,16900,23140,Cash
2,46723,4500,4500,36 months,7.21,139.38,A,A3,Accounts,3 years,RENT,78000.0,debt_consolidation,Debt consolidation,906xx,CA,2.17,0,May-2000,2,13,0,1715,5.2%,19,w,0,Individual,0,0,35329,0,8,1,2,10.0,33614,106.0,1,1,1196,54.0,33300,4,0,3,3,2718.0,21585.0,7.4,0,0,166.0,218,10,10,0,31.0,1.0,0,3,3,3,4,13,5,6,3,13,0.0,0,0,2,100.0,0.0,0,0,65092,35329,23300,31792,Cash
3,24878,12000,12000,36 months,9.44,384.06,B,B1,Client Processing Associate,10+ years,MORTGAGE,62000.0,debt_consolidation,Debt consolidation,441xx,OH,13.76,0,Feb-2003,0,22,0,9404,16.3%,33,w,0,Individual,0,0,75160,4,1,0,2,13.0,17123,67.0,6,9,6898,32.0,57600,3,1,2,12,3579.0,33602.0,17.0,0,0,162.0,179,1,1,1,1.0,5.0,0,1,3,9,13,7,20,25,3,22,0.0,0,0,7,100.0,0.0,0,0,133065,26527,40500,25465,Cash
4,39038,12000,12000,36 months,22.35,460.47,D,D5,Construction Operator,10+ years,MORTGAGE,70000.0,debt_consolidation,Debt consolidation,751xx,TX,14.04,4,Nov-2001,2,18,0,17895,24.2%,45,w,0,Individual,0,7218,113702,9,2,2,4,6.0,16711,68.0,9,10,5373,35.0,73900,3,6,3,14,6317.0,32863.0,24.1,0,0,159.0,201,0,0,1,0.0,3.0,6,9,11,11,14,22,15,20,11,18,0.0,0,2,11,82.2,9.1,0,0,192842,34606,43300,24499,Cash

#### Lable Encoding Categorical Features

In [24]:
from sklearn.preprocessing import LabelEncoder

#Auto encodes any dataframe column of type category or object.
def labelEncode(df):
        columnsToEncode = list(df.select_dtypes(include=['category','object']))
        le = LabelEncoder()
        for feature in columnsToEncode:
            try:
                df[feature] = le.fit_transform(df[feature])
            except:
                print('Error encoding '+feature)
        return df

In [25]:
train1 = labelEncode(train1)

In [26]:
train1.head()

,id,loan_amnt,funded_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,collections_12_mths_ex_med,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_inq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,disbursement_method
0,43373,12000,12000,0,16.02,422.01,2,14,3421,4,1,81000.0,2,3,246,26,12.76,0,127,1,7,0,4912,187,15,1,0,0,0,0,174783,1,2,0,4,13.0,33668,82.0,2,5,2962,63.0,20900,1,1,2,9,24969.0,588.0,89.3,0,0,145.0,23,1,1,1,8.0,1.0,2,2,2,2,2,9,4,5,2,7,0.0,0,0,2,92.9,100.0,0,0,206618,38580,5500,40863,0
1,24414,6300,6300,0,14.07,215.54,2,12,4423,4,3,39000.0,2,3,768,4,21.42,0,362,1,10,0,11876,576,12,1,0,0,0,0,31046,0,1,0,2,14.0,19170,83.0,3,8,5153,72.0,20000,1,0,1,10,3105.0,6877.0,59.3,0,0,17.0,72,8,8,0,8.0,6.0,0,6,7,7,8,2,9,10,7,10,0.0,0,0,3,100.0,42.9,0,0,43140,31046,16900,23140,0
2,46723,4500,4500,0,7.21,139.38,0,2,277,3,3,78000.0,2,3,755,4,2.17,0,392,2,13,0,1715,474,19,1,0,0,0,0,35329,0,8,1,2,10.0,33614,106.0,1,1,1196,54.0,33300,4,0,3,3,2718.0,21585.0,7.4,0,0,166.0,218,10,10,0,31.0,1.0,0,3,3,3,4,13,5,6,3,13,0.0,0,0,2,100.0,0.0,0,0,65092,35329,23300,31792,0
3,24878,12000,12000,0,9.44,384.06,1,5,1994,1,1,62000.0,2,3,388,34,13.76,0,169,0,22,0,9404,105,33,1,0,0,0,0,75160,4,1,0,2,13.0,17123,67.0,6,9,6898,32.0,57600,3,1,2,12,3579.0,33602.0,17.0,0,0,162.0,179,1,1,1,1.0,5.0,0,1,3,9,13,7,20,25,3,22,0.0,0,0,7,100.0,0.0,0,0,133065,26527,40500,25465,0
4,39038,12000,12000,0,22.35,460.47,3,19,2318,1,1,70000.0,2,3,632,42,14.04,4,436,2,18,0,17895,194,45,1,0,0,0,7218,113702,9,2,2,4,6.0,16711,68.0,9,10,5373,35.0,73900,3,6,3,14,6317.0,32863.0,24.1,0,0,159.0,201,0,0,1,0.0,3.0,6,9,11,11,14,22,15,20,11,18,0.0,0,2,11,82.2,9.1,0,0,192842,34606,43300,24499,0

In [27]:
train1.shape

(25634, 82)

### Test DF - Cleaning

#### Dropping All Columns w/NaNs > 20,000 & Dropping Rows w/NaNs After

In [36]:
test.shape

(9437, 103)

In [37]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9437 entries, 0 to 9436
Columns: 103 entries, id to disbursement_method
dtypes: float64(35), int64(51), object(17)
memory usage: 7.4+ MB

In [38]:
test.describe()

,id,member_id,loan_amnt,funded_amnt,installment,annual_inc,url,desc,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,total_acc,collections_12_mths_ex_med,mths_since_last_major_derog,annual_inc_joint,dti_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog
count,9437.000000,0.0,9437.000000,9437.000000,9437.000000,9.437000e+03,0.0,0.0,9417.000000,9437.000000,9437.000000,4200.000000,1415.000000,9437.000000,9437.000000,9437.000000,9437.000000,9437.000000,2249.000000,1.138000e+03,1138.000000,9437.000000,9437.000000,9.437000e+03,9437.000000,9437.000000,9437.000000,9437.000000,9115.000000,9437.000000,7847.000000,9437.000000,9437.000000,9437.000000,9436.000000,9.437000e+03,9437.000000,9437.000000,9437.000000,9437.000000,9436.000000,9287.000000,9274.000000,9437.000000,9437.000000,9115.000000,9437.000000,9437.000000,9437.000000,9437.000000,9300.000000,1974.000000,8664.000000,2818.000000,9437.000000,9437.000000,9437.000000,9437.000000,9437.000000,9437.000000,9437.000000,9437.000000,9437.000000,9437.000000,9162.0,9437.000000,9437.000000,9437.000000,9437.000000,9287.000000,9437.000000,9437.000000,9.437000e+03,9437.000000,9437.000000,9437.000000,1138.000000,1138.000000,1138.000000,1138.000000,1111.000000,1138.000000,1138.00000,1138.000000,1138.000000,384.000000
mean,33634.467733,NaN,15032.165943,15032.165943,448.078389,8.103811e+04,NaN,NaN,18.203075,0.237258,0.568719,36.557619,82.421908,11.399173,0.158313,14460.292042,24.091660,0.016955,46.249889,1.259403e+05,19.210615,0.000106,177.883543,1.571442e+05,1.085303,2.629649,0.869662,1.851118,18.151509,36251.421850,71.224035,1.425453,2.968104,5377.285578,52.293769,3.808182e+04,1.336971,1.762424,2.417188,5.171983,15334.108521,16440.538925,44.783707,0.008901,0.760729,121.853758,172.866165,13.528028,7.538307,1.559288,23.167849,40.659574,6.494575,37.421221,0.490304,3.290982,4.904525,4.764862,7.436473,8.806824,8.083925,13.519763,4.850588,11.373212,0.0,0.000106,0.061778,2.458620,94.712748,29.247378,0.143266,0.014941,1.987447e+05,50893.823143,26505.944156,45536.927625,33754.321617,0.743409,1.723199,11.503515,55.714851,3.066784,12.93761,0.054482,0.069420,36.627604
std,13665.921459,NaN,10226.817759,10226.817759,294.359990,7.113891e+04,NaN,NaN,16.985250,0.773240,0.817536,21.512869,23.824635,5.906751,0.404442,22128.176966,12.566372,0.139371,21.136457,7.374207e+04,8.200247,0.010294,1279.819056,1.815402e+05,1.254425,2.874524,1.065057,1.732841,23.569063,45135.796708,22.870386,1.635073,2.763985,7021.270601,22.202497,3.862773e+04,1.696830,2.987670,2.597496,3.534603,19021.166605,21443.995929,30.204469,0.119723,42.610293,54.953702,96.544430,17.317717,8.300647,1.868337,32.360178,21.940518,5.657749,21.584542,1.399614,2.289760,3.325352,3.207750,4.733746,7.577541,4.961184,8.183589,3.218866,5.902177,0.0,0.010294,0.413448,2.111182,8.859934,34.430920,0.354273,0.190071,2.037358e+05,52370.417718,27284.238636,47439.995254,30146.061446,1.100522,1.919627,6.664104,27.483368,3.291593,8.56629,0.394133,0.283706,23.963841
min,10005.000000,NaN,1000.000000,1000.000000,30.460000,0.000000e+00,NaN,NaN,0.000000,0.000000,0.000000,1.000000,3.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,2.683200e+04,0.610000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,4.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
25%,21708.000000,NaN,7000.000000,7000.000000,224.010000,4.700000e+04,NaN,NaN,10.080000,0.000000,0.000000,19.000000,67.000000,7.000000,0.000000,4079.000000,15.000000,0.000000,30.000000,8.459000e+04,13.125000,0.000000,0.000000,2.780800e+04,0.000000,1.000000,0.000000,1.000000,6.000000,8633.000000,58.000000,0.000000,1.000000,1749.000000,37.000000,1.580000e+04,0.000000,0.000000,1.000000,3.000000,3008.500000,3049.500000,18.600000,0.000000,0.000000,85.000000,108.000000,4.000000,3.000000,0.000000,6.000000,24.000000,2.000000,20.000000,0.000000,2.000000,3.000000,3.000000,4.000000,4.000000,5.000000,8.000000,3.000000,7.000000,0.0,0.000000,0.000000,1.000000,92.500000,0.000000,0.000000,0.000000,5.497800e+04,18367.000000,9500.000000,14896.000000,14223.500000,0.000000,0.000000,7.000000,35.100000,1.000000,7.00000,0.000000,0.000000,16.000000
50%,33558.000000,NaN,12000.000000,12000.000000,363.790000,6.700000e+04,NaN,NaN,16.480000,0.000000,0.000000,34.000000,86.000000,10.000000,0.000000,9041.000000,22.000000,0.000000,47.000000,1.113125e+05,18.785000,0.000000,0.000000,9.238600e+04,1.000000,2.000000,1.000000,1.000000,11.000000,23227.000000,74.000000,1.000000,2.000000,3967.000000,53.000000,2.820000e+04,1.000000,1.000000,2.000000,4.000000,8417.500000,9296.000000,41.800000,0.000000,0.000000,129.000000,156.000000,8.000000,5.000000,1.000000,13.000000,39.000000,5.000000,35.000000,0.000000,3.000000,4.000000,4.000000,6.000000,7.000000,7.000000,12.000000,4.000000,10.000000,0.0,0.000000,0.000000,2.000000,100.000000,16.700000,0.000000,0.000000,1.341810e+05,36940.000000,18800.000000,33088.000000,25907.000000,0.000000,1.000000,10.000000,57.500000,2.000000,11.00000,0.000000,0.000000,34.000000
75%,45497.000000,NaN,20000.000000,20000.000000,615.250000,9.700000e+04,NaN,NaN,23.600000,0.000000,1.000000,52.000000,101.000000,14.000000,0.000000,17658.000000,31.000000,0.000000,63.000000,1.500000e+05,24.570000,0.000000,0.000000,2.370320e+05,2.000000,3.000000,1.000000,3.000000,21.000000,46760.000000,87.000000,2.000000,4.000000,7094.000000,68.000000,4.780000e+04,2.000000,2.000000,3.000000,7.000000,21533.750000,21333.500000,69.800000,0.000000,0.000000,152.000000,222.000000,17.000000,10.000000,3.000000,27.000000,56.000000,10.000000,52.000000,0.000000,4.000000,6.000000,6.000000,10.000000,12.000000,10.000000,17.000000,6.000000,14.000000,0.0,0.000000,0.000000,3.000000,100.000000,50.000000,0.000000,0.000000,2.887390e+05,65039.000000,34300.000000,61000.000000,43133.500000,1.000000,3.000000,15.000000,77.850000,4.000000,17.00000,0.000000,0.000000,56.000000
max,57178.000000,NaN,40000.000000,40000.000000,1628.080000,3.098500e+06,NaN,NaN,999.000000,14.000000,5.000000,117.000000,120.000000,58.000000,8.000000,530099.000000,103.000000,2.000000,122.000000,1.350000e+06,39.900000,1.000000,67647.000000,3.770575e+06,10.000000,31.000000,6.000000,13.000000,342.000000,624244.000000,272.000000,17.000000,28.000000,389468.000000,143.000000,1.093900e+06,24.000000,42.000000,34.000000,31.000000,290044.000000,331957.000000,132.200000,4.000000,2882.000000,822.000000,685.000000,251.000000,148.000000,20.000000,530.000000,138.000000,24.000000,122.000000,27.000000,26.000000,39.000000,38.000000,48.000000,82.000000,52.000000,66.000000,31.000000,58.000000,0.0,1.000000,11.000000,18.000000,100.000000,100.000000,2.000000,8.000000,4.212007e+06,662134.000000,460900.000000,529864.000000,270060.000000,6.000000,17.000000,38.000000,212.600000,27.000000,51.00000,10.000000,3.000000,111.000000

In [40]:
# Same columns dropped in Train DF
dropped_cols

['member_id',
 'url',
 'desc',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'mths_since_last_major_derog',
 'annual_inc_joint',
 'dti_joint',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_revol_delinq',
 'revol_bal_joint',
 'sec_app_earliest_cr_line',
 'sec_app_inq_last_6mths',
 'sec_app_mort_acc',
 'sec_app_open_acc',
 'sec_app_revol_util',
 'sec_app_open_act_il',
 'sec_app_num_rev_accts',
 'sec_app_chargeoff_within_12_mths',
 'sec_app_collections_12_mths_ex_med',
 'sec_app_mths_since_last_major_derog']

In [43]:
# Number of columns to keep = Total Columns - Number of Columns to drop
test.shape[1] - len(dropped_cols)

82

In [41]:
test1 = test

In [45]:
test1 = test1.drop(dropped_cols, axis=1)

In [46]:
test1.isna().sum()

id                               0
loan_amnt                        0
funded_amnt                      0
term                             0
int_rate                         0
installment                      0
grade                            0
sub_grade                        0
emp_title                      846
emp_length                     785
home_ownership                   0
annual_inc                       0
purpose                          0
title                            0
zip_code                         0
addr_state                       0
dti                             20
delinq_2yrs                      0
earliest_cr_line                 0
inq_last_6mths                   0
open_acc                         0
pub_rec                          0
revol_bal                        0
revol_util                      10
total_acc                        0
initial_list_status              0
collections_12_mths_ex_med       0
application_type                 0
acc_now_delinq                   0
tot_coll_amt                     0
tot_cur_bal                      0
open_acc_6m                      0
open_act_il                      0
open_il_12m                      0
open_il_24m                      0
mths_since_rcnt_il             322
total_bal_il                     0
il_util                       1590
open_rv_12m                      0
open_rv_24m                      0
max_bal_bc                       0
all_util                         1
total_rev_hi_lim                 0
inq_fi                           0
total_cu_tl                      0
inq_last_12m                     0
acc_open_past_24mths             0
avg_cur_bal                      1
bc_open_to_buy                 150
bc_util                        163
chargeoff_within_12_mths         0
delinq_amnt                      0
mo_sin_old_il_acct             322
mo_sin_old_rev_tl_op             0
mo_sin_rcnt_rev_tl_op            0
mo_sin_rcnt_tl                   0
mort_acc                         0
mths_since_recent_bc           137
mths_since_recent_inq          773
num_accts_ever_120_pd            0
num_actv_bc_tl                   0
num_actv_rev_tl                  0
num_bc_sats                      0
num_bc_tl                        0
num_il_tl                        0
num_op_rev_tl                    0
num_rev_accts                    0
num_rev_tl_bal_gt_0              0
num_sats                         0
num_tl_120dpd_2m               275
num_tl_30dpd                     0
num_tl_90g_dpd_24m               0
num_tl_op_past_12m               0
pct_tl_nvr_dlq                   0
percent_bc_gt_75               150
pub_rec_bankruptcies             0
tax_liens                        0
tot_hi_cred_lim                  0
total_bal_ex_mort                0
total_bc_limit                   0
total_il_high_credit_limit       0
disbursement_method              0
dtype: int64

In [49]:
test1 = test1.dropna(axis='index')

In [50]:
test1.shape

(6393, 82)

In [51]:
test1.term.unique()

array([' 60 months', ' 36 months'], dtype=object)

In [52]:
test1.int_rate.unique()

array([' 25.82%', ' 12.61%', ' 22.90%', ' 10.91%', ' 13.58%', '  5.31%',
       ' 14.08%', ' 15.04%', ' 20.39%', ' 13.56%', '  8.46%', '  9.43%',
       ' 10.90%', ' 16.14%', ' 28.72%', ' 10.07%', ' 18.45%', ' 10.42%',
       '  7.35%', ' 11.99%', ' 19.03%', ' 21.85%', '  5.32%', ' 17.97%',
       ' 18.06%', ' 14.47%', '  6.11%', ' 14.52%', '  9.93%', ' 12.62%',
       ' 13.06%', '  9.44%', ' 15.49%', ' 17.47%', '  6.08%', '  7.21%',
       '  6.72%', ' 16.46%', ' 16.02%', '  7.96%', ' 30.75%', ' 11.98%',
       '  7.84%', ' 15.05%', ' 18.94%', ' 15.02%', '  7.97%', ' 11.06%',
       ' 25.81%', ' 10.56%', ' 10.47%', '  7.34%', ' 25.34%', '  6.83%',
       ' 26.30%', ' 11.05%', ' 14.07%', ' 10.41%', ' 29.69%', ' 12.73%',
       ' 16.01%', '  7.56%', ' 11.55%', ' 24.37%', '  6.19%', '  6.71%',
       ' 12.13%', ' 23.88%', ' 14.03%', ' 26.77%', ' 20.89%', '  6.07%',
       ' 10.33%', ' 27.27%', ' 22.35%', ' 24.84%', ' 19.92%', '  8.08%',
       ' 19.42%', '  9.92%', ' 26.31%', ' 20.00%', ' 17.09%', ' 13.59%',
       ' 21.45%', ' 12.98%', ' 11.80%', ' 30.89%', ' 16.91%', ' 30.65%',
       ' 24.85%', ' 10.08%', ' 30.79%', ' 23.40%', ' 11.31%', '  8.19%',
       '  7.02%', '  9.58%', '  6.67%', '  7.46%', ' 23.87%', ' 10.72%',
       ' 22.91%', ' 30.17%', '  8.81%', '  6.46%'], dtype=object)

In [53]:
test1['int_rate'] = pd.to_numeric(test1['int_rate'].str.replace('%', ''))

In [54]:
test1.head()

,id,loan_amnt,funded_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,collections_12_mths_ex_med,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_inq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,disbursement_method
0,57146,18500,18500,60 months,25.82,551.93,E,E4,Account Service Representative,10+ years,MORTGAGE,87000.0,debt_consolidation,Debt consolidation,452xx,OH,22.07,0,Jun-2007,3,20,1,5504,16.9%,37,w,0,Individual,0,200,212122,2,5,4,6,1.0,105151,88.0,2,3,2991,66.0,32500,6,3,12,10,10606.0,16813.0,23.9,0,0,127.0,55,7,1,2,8.0,1.0,0,4,5,8,9,20,14,15,5,20,0.0,0,0,6,100.0,0.0,1,0,250214,110655,22100,113624,Cash
1,20988,36000,36000,60 months,12.61,811.95,C,C1,Vice President of IT,7 years,MORTGAGE,165000.0,other,Other,480xx,MI,13.39,0,Oct-1992,0,12,0,21833,42.6%,21,w,0,Individual,0,0,42059,2,2,1,2,6.0,20226,56.0,1,3,5880,48.0,51200,1,0,1,5,3505.0,19340.0,41.4,0,0,304.0,131,4,4,0,15.0,6.0,0,3,7,6,6,6,10,14,7,12,0.0,0,0,2,85.7,16.7,0,0,87584,42059,33000,36384,Cash
2,10031,12000,12000,36 months,22.90,463.90,E,E1,Director of Technology,4 years,MORTGAGE,110000.0,debt_consolidation,Debt consolidation,972xx,OR,15.82,1,Dec-2004,0,4,0,19930,97.2%,11,f,0,Individual,0,0,170912,0,1,1,1,8.0,25739,86.0,0,0,10385,90.0,20500,0,0,0,1,42728.0,570.0,97.2,0,0,130.0,162,42,8,2,42.0,19.0,0,2,2,2,3,4,2,5,2,4,0.0,0,0,1,81.8,100.0,0,0,210150,45669,20500,30000,Cash
4,35374,4000,4000,36 months,10.91,130.79,B,B4,Sales consultant,< 1 year,MORTGAGE,20000.0,other,Other,705xx,LA,69.96,0,Sep-2003,0,16,0,5863,18.8%,28,w,0,Joint App,0,0,169662,1,2,1,2,10.0,43585,85.0,0,4,1013,46.0,31200,10,2,5,7,10604.0,4533.0,37.9,0,0,159.0,53,19,2,2,22.0,4.0,0,6,10,6,7,12,13,14,10,16,0.0,0,0,2,100.0,0.0,0,0,209852,49448,7300,58652,Cash
7,17725,2500,2500,36 months,13.58,84.94,C,C2,Correction Officer,10+ years,OWN,92000.0,debt_consolidation,Debt consolidation,070xx,NJ,10.12,2,Aug-1988,1,5,0,2580,62.9%,14,w,1,Individual,0,56,153209,1,1,0,0,32.0,11427,59.0,1,1,1383,59.0,4100,0,2,1,1,38302.0,1520.0,62.9,0,0,128.0,128,4,4,5,4.0,6.0,4,2,2,2,3,3,2,4,2,5,0.0,0,0,1,53.8,0.0,0,0,233598,14007,4100,19498,Cash

#### Lable Encoding Categorical Features

In [55]:
test1 = labelEncode(test1)

In [56]:
test1.head()

,id,loan_amnt,funded_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,collections_12_mths_ex_med,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_inq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,disbursement_method
0,57146,18500,18500,1,25.82,551.93,4,23,56,1,1,87000.0,2,3,361,34,22.07,0,258,3,20,1,5504,102,37,1,0,0,0,200,212122,2,5,4,6,1.0,105151,88.0,2,3,2991,66.0,32500,6,3,12,10,10606.0,16813.0,23.9,0,0,127.0,55,7,1,2,8.0,1.0,0,4,5,8,9,20,14,15,5,20,0.0,0,0,6,100.0,0.0,1,0,250214,110655,22100,113624,0
1,20988,36000,36000,1,12.61,811.95,2,10,3518,7,1,165000.0,8,10,387,21,13.39,0,395,0,12,0,21833,389,21,1,0,0,0,0,42059,2,2,1,2,6.0,20226,56.0,1,3,5880,48.0,51200,1,0,1,5,3505.0,19340.0,41.4,0,0,304.0,131,4,4,0,15.0,6.0,0,3,7,6,6,6,10,14,7,12,0.0,0,0,2,85.7,16.7,0,0,87584,42059,33000,36384,0
2,10031,12000,12000,0,22.90,463.90,4,20,998,4,1,110000.0,2,3,724,36,15.82,1,103,0,4,0,19930,962,11,0,0,0,0,0,170912,0,1,1,1,8.0,25739,86.0,0,0,10385,90.0,20500,0,0,0,1,42728.0,570.0,97.2,0,0,130.0,162,42,8,2,42.0,19.0,0,2,2,2,3,4,2,5,2,4,0.0,0,0,1,81.8,100.0,0,0,210150,45669,20500,30000,0
4,35374,4000,4000,0,10.91,130.79,1,8,2807,10,1,20000.0,8,10,530,17,69.96,0,445,0,16,0,5863,121,28,1,0,1,0,0,169662,1,2,1,2,10.0,43585,85.0,0,4,1013,46.0,31200,10,2,5,7,10604.0,4533.0,37.9,0,0,159.0,53,19,2,2,22.0,4.0,0,6,10,6,7,12,13,14,10,16,0.0,0,0,2,100.0,0.0,0,0,209852,49448,7300,58652,0
7,17725,2500,2500,0,13.58,84.94,2,11,758,1,2,92000.0,2,3,49,30,10.12,2,51,1,5,0,2580,612,14,1,1,0,0,56,153209,1,1,0,0,32.0,11427,59.0,1,1,1383,59.0,4100,0,2,1,1,38302.0,1520.0,62.9,0,0,128.0,128,4,4,5,4.0,6.0,4,2,2,2,3,3,2,4,2,5,0.0,0,0,1,53.8,0.0,0,0,233598,14007,4100,19498,0

In [57]:
test1.shape

(6393, 82)

### Round 1 Decision Tree Model

In [28]:
# cound run this to get train & validation data split
from sklearn.model_selection import train_test_split

In [30]:
train1.head()

,id,loan_amnt,funded_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,collections_12_mths_ex_med,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_inq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,disbursement_method,charged_off
0,43373,12000,12000,0,16.02,422.01,2,14,3421,4,1,81000.0,2,3,246,26,12.76,0,127,1,7,0,4912,187,15,1,0,0,0,0,174783,1,2,0,4,13.0,33668,82.0,2,5,2962,63.0,20900,1,1,2,9,24969.0,588.0,89.3,0,0,145.0,23,1,1,1,8.0,1.0,2,2,2,2,2,9,4,5,2,7,0.0,0,0,2,92.9,100.0,0,0,206618,38580,5500,40863,0,0
1,24414,6300,6300,0,14.07,215.54,2,12,4423,4,3,39000.0,2,3,768,4,21.42,0,362,1,10,0,11876,576,12,1,0,0,0,0,31046,0,1,0,2,14.0,19170,83.0,3,8,5153,72.0,20000,1,0,1,10,3105.0,6877.0,59.3,0,0,17.0,72,8,8,0,8.0,6.0,0,6,7,7,8,2,9,10,7,10,0.0,0,0,3,100.0,42.9,0,0,43140,31046,16900,23140,0,0
2,46723,4500,4500,0,7.21,139.38,0,2,277,3,3,78000.0,2,3,755,4,2.17,0,392,2,13,0,1715,474,19,1,0,0,0,0,35329,0,8,1,2,10.0,33614,106.0,1,1,1196,54.0,33300,4,0,3,3,2718.0,21585.0,7.4,0,0,166.0,218,10,10,0,31.0,1.0,0,3,3,3,4,13,5,6,3,13,0.0,0,0,2,100.0,0.0,0,0,65092,35329,23300,31792,0,0
3,24878,12000,12000,0,9.44,384.06,1,5,1994,1,1,62000.0,2,3,388,34,13.76,0,169,0,22,0,9404,105,33,1,0,0,0,0,75160,4,1,0,2,13.0,17123,67.0,6,9,6898,32.0,57600,3,1,2,12,3579.0,33602.0,17.0,0,0,162.0,179,1,1,1,1.0,5.0,0,1,3,9,13,7,20,25,3,22,0.0,0,0,7,100.0,0.0,0,0,133065,26527,40500,25465,0,0
4,39038,12000,12000,0,22.35,460.47,3,19,2318,1,1,70000.0,2,3,632,42,14.04,4,436,2,18,0,17895,194,45,1,0,0,0,7218,113702,9,2,2,4,6.0,16711,68.0,9,10,5373,35.0,73900,3,6,3,14,6317.0,32863.0,24.1,0,0,159.0,201,0,0,1,0.0,3.0,6,9,11,11,14,22,15,20,11,18,0.0,0,2,11,82.2,9.1,0,0,192842,34606,43300,24499,0,0

In [31]:
y = train1['charged_off']

In [32]:
X = train1.drop('charged_off', axis=1)

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [34]:
from sklearn.tree import DecisionTreeClassifier

In [35]:
dtree = DecisionTreeClassifier()

In [36]:
dtree.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [37]:
predictions = dtree.predict(X_test)

In [38]:
from sklearn.metrics import classification_report, confusion_matrix

In [39]:
print(confusion_matrix(y_test, predictions))
print('\n')
print(classification_report(y_test, predictions))

[[5755  881]
 [ 818  237]]


              precision    recall  f1-score   support

           0       0.88      0.87      0.87      6636
           1       0.21      0.22      0.22      1055

   micro avg       0.78      0.78      0.78      7691
   macro avg       0.54      0.55      0.54      7691
weighted avg       0.78      0.78      0.78      7691