# DS1 Tree Ensembles Assignment/Competition

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

## Data Overview

### Train Features

In [3]:
train = pd.read_csv('train_features.csv')

In [4]:
train.head(2)

,id,member_id,loan_amnt,funded_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,collections_12_mths_ex_med,mths_since_last_major_derog,application_type,annual_inc_joint,dti_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,disbursement_method
0,43373,NaN,12000,12000,36 months,16.02%,422.01,C,C5,Driver,4 years,MORTGAGE,81000.0,NaN,NaN,debt_consolidation,Debt consolidation,280xx,NC,12.76,0,Dec-2005,1,48.0,NaN,7,0,4912,23.5%,15,w,0,48.0,Individual,NaN,NaN,0,0,174783,1,2,0,4,13.0,33668,82.0,2,5,2962,63.0,20900,1,1,2,9,24969.0,588.0,89.3,0,0,145.0,23,1,1,1,8.0,NaN,1.0,NaN,2,2,2,2,2,9,4,5,2,7,0.0,0,0,2,92.9,100.0,0,0,206618,38580,5500,40863,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash
1,24414,NaN,6300,6300,36 months,14.07%,215.54,C,C3,GMP Lead,4 years,RENT,39000.0,NaN,NaN,debt_consolidation,Debt consolidation,920xx,CA,21.42,0,Mar-2012,1,NaN,NaN,10,0,11876,59.4%,12,w,0,NaN,Individual,NaN,NaN,0,0,31046,0,1,0,2,14.0,19170,83.0,3,8,5153,72.0,20000,1,0,1,10,3105.0,6877.0,59.3,0,0,17.0,72,8,8,0,8.0,NaN,6.0,NaN,0,6,7,7,8,2,9,10,7,10,0.0,0,0,3,100.0,42.9,0,0,43140,31046,16900,23140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash

### Train Labels

In [5]:
train_labels = pd.read_csv('train_labels.csv')

In [6]:
train_labels.head(2)

      id  charged_off
0  43373            0
1  24414            0

In [7]:
train_labels.charged_off.value_counts()

0    32191
1     5554
Name: charged_off, dtype: int64

In [8]:
train_labels.shape

(37745, 2)

### Test Features

In [9]:
test = pd.read_csv('test_features.csv')

In [10]:
test.shape

(9437, 103)

### Sample Submission DF

In [11]:
sample_submission = pd.read_csv('sample_submission.csv')

In [12]:
sample_submission.tail()

         id  charged_off
9432  45702          0.5
9433  25727          0.5
9434  45966          0.5
9435  30441          0.5
9436  30058          0.5

In [13]:
sample_submission.shape

(9437, 2)

## Majority Class Baseline

In [14]:
# setting a y_pred array
# same length as test set & filled with train_label mode
y_pred = np.full(test.shape[0],
                train_labels.charged_off.mode()[0])

In [15]:
len(test.id.values)

9437

In [16]:
majority_baseline = sample_submission.copy() 
majority_baseline['charged_off'] = y_pred

In [17]:
majority_baseline.tail(5)

         id  charged_off
9432  45702            0
9433  25727            0
9434  45966            0
9435  30441            0
9436  30058            0

In [18]:
majority_baseline.shape

(9437, 2)

In [19]:
majority_baseline.to_csv('majority_baseline.csv', index=False)

## First Round

### Cleaning Train DF

#### Dropping Unnecesary Columns

In [20]:
train.shape

(37745, 103)

In [21]:
train.isna().sum()

id                                         0
member_id                              37745
loan_amnt                                  0
funded_amnt                                0
term                                       0
int_rate                                   0
installment                                0
grade                                      0
sub_grade                                  0
emp_title                               3565
emp_length                              3277
home_ownership                             0
annual_inc                                 0
url                                    37745
desc                                   37745
purpose                                    0
title                                      0
zip_code                                   0
addr_state                                 0
dti                                       92
delinq_2yrs                                0
earliest_cr_line                           0
inq_last_6mths                             0
mths_since_last_delinq                 20881
mths_since_last_record                 32170
open_acc                                   0
pub_rec                                    0
revol_bal                                  0
revol_util                                53
total_acc                                  0
initial_list_status                        0
collections_12_mths_ex_med                 0
mths_since_last_major_derog            28640
application_type                           0
annual_inc_joint                       33007
dti_joint                              33007
acc_now_delinq                             0
tot_coll_amt                               0
tot_cur_bal                                0
open_acc_6m                                0
open_act_il                                0
open_il_12m                                0
open_il_24m                                0
mths_since_rcnt_il                      1234
total_bal_il                               0
il_util                                 6255
open_rv_12m                                0
open_rv_24m                                0
max_bal_bc                                 0
all_util                                  13
total_rev_hi_lim                           0
inq_fi                                     0
total_cu_tl                                0
inq_last_12m                               0
acc_open_past_24mths                       0
avg_cur_bal                                3
bc_open_to_buy                           643
bc_util                                  667
chargeoff_within_12_mths                   0
delinq_amnt                                0
mo_sin_old_il_acct                      1234
mo_sin_old_rev_tl_op                       0
mo_sin_rcnt_rev_tl_op                      0
mo_sin_rcnt_tl                             0
mort_acc                                   0
mths_since_recent_bc                     597
mths_since_recent_bc_dlq               29995
mths_since_recent_inq                   3146
mths_since_recent_revol_delinq         26574
num_accts_ever_120_pd                      0
num_actv_bc_tl                             0
num_actv_rev_tl                            0
num_bc_sats                                0
num_bc_tl                                  0
num_il_tl                                  0
num_op_rev_tl                              0
num_rev_accts                              0
num_rev_tl_bal_gt_0                        0
num_sats                                   0
num_tl_120dpd_2m                        1010
num_tl_30dpd                               0
num_tl_90g_dpd_24m                         0
num_tl_op_past_12m                         0
pct_tl_nvr_dlq                             1
percent_bc_gt_75                         643
pub_rec_bankruptcies                       0
tax_liens                                  0
tot_hi_cred_lim                            0
total_bal_ex_mort                          0
total_bc_limit                             0
total_il_high_credit_limit                 0
revol_bal_joint                        33007
sec_app_earliest_cr_line               33007
sec_app_inq_last_6mths                 33007
sec_app_mort_acc                       33007
sec_app_open_acc                       33007
sec_app_revol_util                     33106
sec_app_open_act_il                    33007
sec_app_num_rev_accts                  33007
sec_app_chargeoff_within_12_mths       33007
sec_app_collections_12_mths_ex_med     33007
sec_app_mths_since_last_major_derog    36077
disbursement_method                        0
dtype: int64

In [69]:
train1 = train.copy()

In [70]:
train1 = train1.drop(columns='id') # id is randomly assigned
train1 = train1.drop(columns=['member_id', 'url', 'desc']) # null columns
train1 = train1.drop(columns='title') # Duplicative of 'purpose' column
train1 = train1.drop(columns='grade') # Duplicative of 'sub_grade' column

#### Feature Engineering

In [71]:
# Transforming 'sub-grade' from "A1" to "G5" -->> 1.1 to 7.5
# 'sub_grade' is a more granular version of the dropped 'grade' column
# We'll wrangle it not using the arbitrary ordinal encoding 
# because there is a natural order set in this column that we want to present
# This will help our model have a better fit
def wrangle_sub_grade(x):
    first_digit = ord(x[0]) - 64 # first digit is a letter from A to G -> ord('A') == 65, ord('B') == 66, and so on
    second_digit = int(x[1]) # second digit turned from string to integer
    return first_digit + second_digit / 10

train1['sub_grade'] = train1['sub_grade'].apply(wrangle_sub_grade)

In [72]:
train1.sub_grade.head()

0    3.5
1    3.3
2    1.3
3    2.1
4    4.5
Name: sub_grade, dtype: float64

In [73]:
# Convert percentages from strings to floats
train1['int_rate'] = train1['int_rate'].str.strip('%').astype(float)
train1['revol_util'] = train1['revol_util'].str.strip('%').astype(float)

In [74]:
# Transform earliest_cr_line to an integer: how many days it's been open
train1['earliest_cr_line'] = pd.to_datetime(train1['earliest_cr_line'], infer_datetime_format=True) # `infer_datetime_format=True` makes it go faster
train1['earliest_cr_line'] = pd.Timestamp.today() - train1['earliest_cr_line'] # (difference from today to when credit line was opened) how long the credit line have been opened
train1['earliest_cr_line'] = train1['earliest_cr_line'].dt.days # .dt accessor is very useful to get 'days' or 'months'... 
# if you get the 'months' (which are from 1 to 12) you can categorically or ordinally encode that

In [75]:
train1['earliest_cr_line']

0         4856
1         2574
2         6896
3         5890
4         6347
5         2787
6         3121
7         5131
8        10426
9         5648
10        7688
11        9088
12        4004
13        4613
14        5343
15        6074
16        5982
17        2025
18        6347
19       13956
20        5282
21       12405
22        7048
23        5282
24        4279
25       11126
26        6682
27        2329
28       11826
29        2148
30       11126
31        4340
32        2787
33        8631
34        1752
35        6926
36        7109
37        3517
38        5831
39        6255
40        6227
41        8265
42        5159
43       10914
44        2025
45        6865
46        7170
47        6835
48        5282
49       12161
50        6531
51        2726
52        3152
53       10944
54        9542
55        5190
56        4582
57        4004
58       11156
59        8387
60        4126
61        3548
62       10123
63        5921
64        4309
65        4217
66        7839
67        4705
68        7413
69        6013
70        5343
71        6043
72        5525
73        8812
74        4248
75        3882
76       11003
77        5282
78        7048
79        2574
80        4552
81       10638
82        7747
83        7900
84       11765
85        8204
86        9453
87        4248
88        4460
89        6408
90        4064
91        3364
92       10031
93        2574
94        6470
95        5100
96        1599
97        7688
98        5009
99        5343
100       5982
101       5131
102       6196
103       3821
104       3548
105       9453
106       6074
107       5496
108       7262
109       6439
110       6986
111       5648
112       5740
113       1934
114       5343
115       2452
116       8812
117       3152
118       7078
119       4248
120       7292
121       6470
122       4917
123       4917
124       4947
125       4248
126       4095
127      12161
128       2329
129       5404
130       1569
131       4674
132       4370
133       5282
134       4794
135       8723
136       8874
137       5770
138       4978
139       7231
140       8204
141      11765
142       4491
143       6835
144      13471
145       4705
146       6592
147       5678
148       7778
149       2603
150       8418
151       8539
152       8357
153      13622
154       2087
155      11369
156       3091
157       2117
158       6227
159       4401
160       7688
161       7688
162       7323
163       2087
164       9879
165      14475
166       3882
167       5862
168       4886
169       7109
170       3609
171       5801
172       4156
173       7657
174       5435
175       1630
176       9422
177       4126
178       7109
179      12222
180       7323
181       4613
182       8418
183       1599
184       8965
185       4582
186       6651
187       3698
188       6773
189       7201
190       3760
191       3152
192       8204
193       6531
194       3152
195       8600
196       9088
197       4429
198       7170
199       9604
200       4613
201       2726
202       5709
203       8539
204       4156
205       3670
206       5921
207       5525
208       6835
209       5435
210       3213
211       7382
212       3943
213       2390
214       4947
215       6408
216       5648
217       4521
218       2818
219       6043
220       6712
221       6166
222       5100
223       7109
224       4644
225       6926
226       5709
227       3456
228       4794
229       5921
230       4886
231       7474
232       6439
233       3456
234       2848
235       7869
236       8418
237       9787
238       4856
239       9422
240       8173
241       5678
242      11734
243       5159
244       7109
245       7170
246       4917
247       9542
248       5374
249       5648
         ...
37495     7078
37496     2574
37497     3698
37498    10123
37499     6439
37500    14414
37501     7808
37502     4401
37503     9149
37504     2787
37505     5343
37506     5070
37507     5982
37508     7170
37509     4947
37510    10031
37511     4674
37512     4582
37513     3882
37514     6378
37515     5404
37516     6286
37517     5221
37518     8265
37519     7808
37520    10914
37521     4886
37522     8965
37523     3882
37524    11553
37525     2756
37526    10730
37527     3578
37528     5039
37529     4187
37530     4582
37531     3729
37532     1691
37533     8662
37534    12071
37535     7504
37536     7992
37537     7566
37538     6378
37539     4187
37540     3729
37541     6773
37542     7323
37543     2909
37544     3305
37545     2148
37546     6043
37547     5100
37548    12861
37549     8053
37550     6651
37551     6105
37552     8935
37553     4401
37554     1813
37555    10123
37556     4917
37557     2787
37558     5921
37559     4613
37560     4917
37561    13045
37562     8784
37563     7839
37564     8874
37565     5496
37566     7170
37567     6804
37568    11887
37569     7596
37570     4705
37571     6500
37572     4917
37573     5221
37574     4491
37575     7596
37576     8387
37577     7474
37578     9939
37579     5070
37580     2482
37581     5070
37582     1691
37583     4187
37584     7139
37585     3091
37586     6317
37587     6408
37588     1783
37589     4735
37590    11796
37591     4521
37592     4552
37593     4856
37594     3121
37595     9118
37596     4095
37597     6166
37598     5343
37599     6227
37600     7596
37601     1844
37602     8265
37603     7474
37604     4217
37605     4766
37606    12252
37607     5312
37608     4217
37609     4613
37610     4735
37611     6896
37612     5374
37613     3851
37614    10245
37615     4825
37616     1964
37617     6135
37618     4582
37619     1630
37620     4644
37621     8112
37622    18127
37623     4644
37624     4521
37625    11645
37626    14414
37627     4613
37628    10638
37629     9027
37630    13167
37631     6378
37632     9665
37633     4856
37634     9177
37635     2848
37636     7413
37637    10730
37638     6439
37639     6408
37640     4460
37641     3244
37642     7413
37643     5770
37644     5374
37645     4064
37646     2726
37647     2634
37648     9665
37649    16058
37650     4248
37651     5862
37652     8539
37653     5862
37654     4156
37655     5039
37656     4248
37657     4886
37658     4460
37659     5131
37660     5465
37661     3913
37662     4613
37663     7351
37664     5435
37665     9604
37666     6166
37667    11796
37668     5404
37669     6286
37670     3183
37671     5648
37672     9057
37673     4794
37674     6957
37675     4370
37676     6255
37677     3152
37678     6105
37679     4187
37680     4004
37681     5709
37682     9177
37683     4340
37684     5100
37685     6408
37686     6804
37687     6620
37688    10730
37689     8539
37690     2756
37691     5587
37692     9269
37693     4674
37694     5678
37695     8265
37696     4401
37697     5525
37698     4248
37699     5678
37700     6804
37701     4978
37702     2909
37703     7139
37704     6043
37705     4460
37706     5952
37707    12495
37708     8265
37709    12770
37710     6712
37711     4978
37712     6043
37713     6773
37714     5251
37715     3395
37716     7688
37717     3913
37718     3333
37719     8723
37720     5831
37721     6439
37722     6531
37723     5862
37724     7566
37725     3578
37726     5435
37727     5648
37728     4491
37729    16605
37730     9514
37731     5982
37732     5159
37733     4917
37734     5982
37735     5770
37736    10700
37737     4279
37738     4187
37739     5221
37740     4248
37741     5801
37742     6317
37743     4552
37744     7078
Name: earliest_cr_line, Length: 37745, dtype: int64

In [77]:
# Create features for three employee titles: teacher, manager, owner
# most common job titles
# some titles are repeated with lower or upper case
train1['emp_title'] = train1['emp_title'].str.lower()
train1['emp_title_teacher'] = train1['emp_title'].str.contains('teacher', na=False)
train1['emp_title_manager'] = train1['emp_title'].str.contains('manager', na=False)
train1['emp_title_owner']   = train1['emp_title'].str.contains('owner', na=False)

In [78]:
# Dropping categorical features with high cardinality
# High cardinality means that the column contains a large percentage of totally unique values. 
# Low cardinality means that the column contains a lot of "repeats" in its data range.
train1 = train1.drop(columns=['emp_title', 'zip_code'])

In [79]:
# Transform features with many nulls to binary flags
many_nulls = ['sec_app_mths_since_last_major_derog',
              'sec_app_revol_util',
              'sec_app_earliest_cr_line',
              'sec_app_mort_acc',
              'dti_joint',
              'sec_app_collections_12_mths_ex_med',
              'sec_app_chargeoff_within_12_mths',
              'sec_app_num_rev_accts',
              'sec_app_open_act_il',
              'sec_app_open_acc',
              'revol_bal_joint',
              'annual_inc_joint',
              'sec_app_inq_last_6mths',
              'mths_since_last_record',
              'mths_since_recent_bc_dlq',
              'mths_since_last_major_derog',
              'mths_since_recent_revol_delinq',
              'mths_since_last_delinq',
              'il_util',
              'emp_length',
              'mths_since_recent_inq',
              'mo_sin_old_il_acct',
              'mths_since_rcnt_il',
              'num_tl_120dpd_2m',
              'bc_util',
              'percent_bc_gt_75',
              'bc_open_to_buy',
              'mths_since_recent_bc']

for col in many_nulls:
        train1[col] = train1[col].isnull()

In [85]:
# For features with few nulls, do mean imputation
for col in train1:
    if train1[col].isnull().sum() > 0:
        train1[col] = train1[col].fillna(train1[col].mean())

In [86]:
train1.head(2)

,loan_amnt,funded_amnt,term,int_rate,installment,sub_grade,emp_length,home_ownership,annual_inc,purpose,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,collections_12_mths_ex_med,mths_since_last_major_derog,application_type,annual_inc_joint,dti_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,disbursement_method,emp_title_teacher,emp_title_manager,emp_title_owner
0,12000,12000,36 months,16.02,422.01,3.5,False,MORTGAGE,81000.0,debt_consolidation,NC,12.76,0,4856,1,False,True,7,0,4912,23.5,15,w,0,False,Individual,True,True,0,0,174783,1,2,0,4,False,33668,False,2,5,2962,63.0,20900,1,1,2,9,24969.0,False,False,0,0,False,23,1,1,1,False,True,False,True,2,2,2,2,2,9,4,5,2,7,False,0,0,2,92.9,False,0,0,206618,38580,5500,40863,True,True,True,True,True,True,True,True,True,True,True,Cash,False,False,False
1,6300,6300,36 months,14.07,215.54,3.3,False,RENT,39000.0,debt_consolidation,CA,21.42,0,2574,1,True,True,10,0,11876,59.4,12,w,0,True,Individual,True,True,0,0,31046,0,1,0,2,False,19170,False,3,8,5153,72.0,20000,1,0,1,10,3105.0,False,False,0,0,False,72,8,8,0,False,True,False,True,0,6,7,7,8,2,9,10,7,10,False,0,0,3,100.0,False,0,0,43140,31046,16900,23140,True,True,True,True,True,True,True,True,True,True,True,Cash,False,False,False

In [87]:
train1.isnull().sum().sum()

0

In [98]:
train1.shape

(37745, 98)

### Test DF - Cleaning

#### Applying Same Wrangling as Train DF

In [89]:
def wrangle(X):
    X = X.copy()
    
    # Drop some columns
    X = X.drop(columns='id')  # id is random
    X = X.drop(columns=['member_id', 'url', 'desc'])  # All null
    X = X.drop(columns='title')  # Duplicative of purpose
    X = X.drop(columns='grade')  # Duplicative of sub_grade
    
    # Transform sub_grade from "A1" - "G5" to 1.1 - 7.5
    def wrangle_sub_grade(x):
        first_digit = ord(x[0]) - 64
        second_digit = int(x[1])
        return first_digit + second_digit/10
    
    X['sub_grade'] = X['sub_grade'].apply(wrangle_sub_grade)

    # Convert percentages from strings to floats
    X['int_rate'] = X['int_rate'].str.strip('%').astype(float)
    X['revol_util'] = X['revol_util'].str.strip('%').astype(float)
        
    # Transform earliest_cr_line to an integer: how many days it's been open
    X['earliest_cr_line'] = pd.to_datetime(X['earliest_cr_line'], infer_datetime_format=True) # `infer_datetime_format=True` makes it go faster
    X['earliest_cr_line'] = pd.Timestamp.today() - X['earliest_cr_line'] # (difference from today to when credit line was opened) how long the credit line have been opened
    X['earliest_cr_line'] = X['earliest_cr_line'].dt.days # .dt accessor is very useful to get 'days' or 'months'... 
    # if you get the 'months' (which are from 1 to 12) you can categorically or ordinally encode that
    
    # Create features for three employee titles: teacher, manager, owner
    # most common job titles
    # some titles are repeated with lower or upper case
    X['emp_title'] = X['emp_title'].str.lower()
    X['emp_title_teacher'] = X['emp_title'].str.contains('teacher', na=False)
    X['emp_title_manager'] = X['emp_title'].str.contains('manager', na=False)
    X['emp_title_owner']   = X['emp_title'].str.contains('owner', na=False)
    
    # Drop categoricals with high cardinality
    X = X.drop(columns=['emp_title', 'zip_code'])
    
    # Transform features with many nulls to binary flags
    many_nulls = ['sec_app_mths_since_last_major_derog',
                  'sec_app_revol_util',
                  'sec_app_earliest_cr_line',
                  'sec_app_mort_acc',
                  'dti_joint',
                  'sec_app_collections_12_mths_ex_med',
                  'sec_app_chargeoff_within_12_mths',
                  'sec_app_num_rev_accts',
                  'sec_app_open_act_il',
                  'sec_app_open_acc',
                  'revol_bal_joint',
                  'annual_inc_joint',
                  'sec_app_inq_last_6mths',
                  'mths_since_last_record',
                  'mths_since_recent_bc_dlq',
                  'mths_since_last_major_derog',
                  'mths_since_recent_revol_delinq',
                  'mths_since_last_delinq',
                  'il_util',
                  'emp_length',
                  'mths_since_recent_inq',
                  'mo_sin_old_il_acct',
                  'mths_since_rcnt_il',
                  'num_tl_120dpd_2m',
                  'bc_util',
                  'percent_bc_gt_75',
                  'bc_open_to_buy',
                  'mths_since_recent_bc']

    for col in many_nulls:
        X[col] = X[col].isnull()
    
    # For features with few nulls, do mean imputation
    for col in X:
        if X[col].isnull().sum() > 0:
            X[col] = X[col].fillna(X[col].mean())
    
    # Return the wrangled dataframe
    return X


X_test  = wrangle(test)
X_test.shape

(9437, 98)

In [91]:
X_test.head(2)

,loan_amnt,funded_amnt,term,int_rate,installment,sub_grade,emp_length,home_ownership,annual_inc,purpose,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,collections_12_mths_ex_med,mths_since_last_major_derog,application_type,annual_inc_joint,dti_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,disbursement_method,emp_title_teacher,emp_title_manager,emp_title_owner
0,18500,18500,60 months,25.82,551.93,5.4,False,MORTGAGE,87000.0,debt_consolidation,OH,22.07,0,4309,3,True,False,20,1,5504,16.9,37,w,0,True,Individual,True,True,0,200,212122,2,5,4,6,False,105151,False,2,3,2991,66.0,32500,6,3,12,10,10606.0,False,False,0,0,False,55,7,1,2,False,True,False,True,0,4,5,8,9,20,14,15,5,20,False,0,0,6,100.0,False,1,0,250214,110655,22100,113624,True,True,True,True,True,True,True,True,True,True,True,Cash,False,False,False
1,36000,36000,60 months,12.61,811.95,3.1,False,MORTGAGE,165000.0,other,MI,13.39,0,9665,0,False,True,12,0,21833,42.6,21,w,0,True,Individual,True,True,0,0,42059,2,2,1,2,False,20226,False,1,3,5880,48.0,51200,1,0,1,5,3505.0,False,False,0,0,False,131,4,4,0,False,False,False,False,0,3,7,6,6,6,10,14,7,12,False,0,0,2,85.7,False,0,0,87584,42059,33000,36384,True,True,True,True,True,True,True,True,True,True,True,Cash,False,False,False

In [106]:
# Setting 'train1' equal to X_train & 'train_labels' equal to y_train
X_train = train1.copy()
y_train = train_labels.copy()
y_train = y_train['charged_off']

In [107]:
X_train.shape, y_train.shape

((37745, 98), (37745,))

Now X_train (and X_test) have no nulls

In [108]:
null_counts = X_train.isnull().sum()
all(null_counts == 0)

True

And no high cardinality categoricals (only 50 or less since we have 50 states)

In [109]:
cardinality = X_train.select_dtypes(exclude='number').nunique()
all(cardinality <= 50)

True

## Round 1

### Decision Tree

In [110]:
import category_encoders as ce
from sklearn.model_selection import cross_val_score
from sklearn.pipeline import make_pipeline
from sklearn.tree import DecisionTreeClassifier

In [112]:
# Any leftover categorical features we apply arbitrary ordinal encoding -- 
# but not good for Logistic Regression!
# Also using class_weight='balanced' recomended when using metric/scoring 'roc_auc' 
# to improve ability to rank
pipe = make_pipeline(
    ce.OrdinalEncoder(), 
    DecisionTreeClassifier(max_depth=5, class_weight='balanced')
)

# when using sklearn's cross validation functions like in this case 'cross_val_score' or
# 'grid search cv', you want to use scoring equal to 'roc_auc' - DON'T USE DEFAULT scoring
# otherwise will give DECEPTIVE RESULTS!
# 'roc_auc' evaluates the rank to sort the predictive probabilities
cross_val_score(pipe, X_train, y_train, cv=5, scoring='roc_auc')

array([0.70297128, 0.70047918, 0.69332495, 0.68879982, 0.68917646])

### Decision Tree
Improves ROC AUC compared to Decision Tree

In [115]:
from sklearn.ensemble import RandomForestClassifier

pipe = make_pipeline(
    ce.OrdinalEncoder(),
    RandomForestClassifier(
        n_estimators=100,
    class_weight='balanced',
    min_samples_leaf=0.005, # not going below half of percentage of the population -- min_samples_leaf = 1 can lead to overfitting
    oob_score=True,
    n_jobs=-1 ) # using all cores
)
        
cross_val_score(pipe, X_train, y_train, cv=5, scoring='roc_auc', verbose=10)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV]  ................................................................
[CV] ....................... , score=0.7294513113370663, total=   6.1s
[CV]  ................................................................

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    6.1s remaining:    0.0s

[CV] ....................... , score=0.7287773511740736, total=   3.4s
[CV]  ................................................................

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    9.6s remaining:    0.0s

[CV] ....................... , score=0.7227773103498607, total=   3.3s
[CV]  ................................................................

[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:   13.0s remaining:    0.0s

[CV] ....................... , score=0.7282878800461593, total=   3.3s
[CV]  ................................................................

[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:   16.5s remaining:    0.0s

[CV] ........................ , score=0.736107122966396, total=   3.4s

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:   20.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:   20.0s finished

array([0.72945131, 0.72877735, 0.72277731, 0.72828788, 0.73610712])

### Out-of-Bag Estimated Score
Out-of-bag is a faster way to get an estimated score with Random Forest, using the parameter `oob_score=True`

In [119]:
from sklearn.metrics import roc_auc_score

In [120]:
%%time
pipe.fit(X_train, y_train)
y_pred_proba = pipe.named_steps['randomforestclassifier'].oob_decision_function_[:,1]
print('ROC ACU, Out-of-Bag estimate:', roc_auc_score(y_train, y_pred_proba))

ROC ACU, Out-of-Bag estimate: 0.7281257092515867
Wall time: 4.14 s

You can explore hyperparameter values

In [121]:
%%time

max_depths = list(range(2, 12, 2)) + [None]

for max_depth in max_depths:
    pipe = make_pipeline(
        ce.OrdinalEncoder(),
        RandomForestClassifier(
            n_estimators=100,
            class_weight='balanced',
            max_depth=max_depth,
            oob_score=True,
            n_jobs=-1)
    )
    
    pipe.fit(X_train, y_train)
    y_pred_proba=pipe.named_steps['randomforestclassifier'].oob_decision_function_[:,1]
    print('Max Depth:', max_depth)
    print('ROC AUC, OOB:', roc_auc_score(y_train, y_pred_proba))

Max Depth: 2
ROC AUC, OOB: 0.6970147808016669
Max Depth: 4
ROC AUC, OOB: 0.7156058208429079
Max Depth: 6
ROC AUC, OOB: 0.7240588944227797
Max Depth: 8
ROC AUC, OOB: 0.7235444998253637
Max Depth: 10
ROC AUC, OOB: 0.7226003803571291
Max Depth: None
ROC AUC, OOB: 0.707425851597181
Wall time: 40.2 s