# DS1 Tree Ensembles Assignment/Competition

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

## Data Overview

In [2]:
train = pd.read_csv('train_features.csv')

In [3]:
train.head()

,id,member_id,loan_amnt,funded_amnt,term,int_rate,installment,grade,sub_grade,emp_title,...,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,disbursement_method
0,43373,NaN,12000,12000,36 months,16.02%,422.01,C,C5,Driver,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash
1,24414,NaN,6300,6300,36 months,14.07%,215.54,C,C3,GMP Lead,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash
2,46723,NaN,4500,4500,36 months,7.21%,139.38,A,A3,Accounts,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash
3,24878,NaN,12000,12000,36 months,9.44%,384.06,B,B1,Client Processing Associate,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash
4,39038,NaN,12000,12000,36 months,22.35%,460.47,D,D5,Construction Operator,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash

In [4]:
t_labels = pd.read_csv('train_labels.csv')

In [5]:
t_labels.head()

      id  charged_off
0  43373            0
1  24414            0
2  46723            0
3  24878            0
4  39038            0

In [6]:
sample_submission = pd.read_csv('sample_submission.csv')

In [14]:
sample_submission.head()

      id  charged_off
0  57146          0.5
1  20988          0.5
2  10031          0.5
3  33892          0.5
4  35374          0.5