# Kaggle Comp

## Loading the data

In [28]:
import pandas as pd

In [29]:
pd.options.display.max_columns = 500

In [30]:
df = pd.read_csv('test_features.csv')

In [31]:
df.head(10)

,id,member_id,loan_amnt,funded_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,collections_12_mths_ex_med,mths_since_last_major_derog,application_type,annual_inc_joint,dti_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,disbursement_method
0,57146,NaN,18500,18500,60 months,25.82%,551.93,E,E4,Account Service Representative,10+ years,MORTGAGE,87000.0,NaN,NaN,debt_consolidation,Debt consolidation,452xx,OH,22.07,0,Jun-2007,3,NaN,111.0,20,1,5504,16.9%,37,w,0,NaN,Individual,NaN,NaN,0,200,212122,2,5,4,6,1.0,105151,88.0,2,3,2991,66.0,32500,6,3,12,10,10606.0,16813.0,23.9,0,0,127.0,55,7,1,2,8.0,NaN,1.0,NaN,0,4,5,8,9,20,14,15,5,20,0.0,0,0,6,100.0,0.0,1,0,250214,110655,22100,113624,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash
1,20988,NaN,36000,36000,60 months,12.61%,811.95,C,C1,Vice President of IT,7 years,MORTGAGE,165000.0,NaN,NaN,other,Other,480xx,MI,13.39,0,Oct-1992,0,31.0,NaN,12,0,21833,42.6%,21,w,0,NaN,Individual,NaN,NaN,0,0,42059,2,2,1,2,6.0,20226,56.0,1,3,5880,48.0,51200,1,0,1,5,3505.0,19340.0,41.4,0,0,304.0,131,4,4,0,15.0,31.0,6.0,31.0,0,3,7,6,6,6,10,14,7,12,0.0,0,0,2,85.7,16.7,0,0,87584,42059,33000,36384,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash
2,10031,NaN,12000,12000,36 months,22.90%,463.90,E,E1,Director of Technology,4 years,MORTGAGE,110000.0,NaN,NaN,debt_consolidation,Debt consolidation,972xx,OR,15.82,1,Dec-2004,0,7.0,NaN,4,0,19930,97.2%,11,f,0,NaN,Individual,NaN,NaN,0,0,170912,0,1,1,1,8.0,25739,86.0,0,0,10385,90.0,20500,0,0,0,1,42728.0,570.0,97.2,0,0,130.0,162,42,8,2,42.0,NaN,19.0,NaN,0,2,2,2,3,4,2,5,2,4,0.0,0,0,1,81.8,100.0,0,0,210150,45669,20500,30000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash
3,33892,NaN,24875,24875,60 months,11.98%,553.08,B,B5,vp,10+ years,MORTGAGE,105000.0,NaN,NaN,other,Other,463xx,IN,6.91,0,Nov-1995,1,NaN,NaN,7,0,29537,47.3%,24,w,0,NaN,Individual,NaN,NaN,0,0,507349,0,0,0,1,18.0,0,NaN,0,1,12097,47.0,62400,1,1,2,3,84558.0,27863.0,51.5,0,0,126.0,268,22,15,3,65.0,NaN,4.0,NaN,0,4,4,5,7,9,6,12,4,7,0.0,0,0,0,100.0,25.0,0,0,547400,29537,57400,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash
4,35374,NaN,4000,4000,36 months,10.91%,130.79,B,B4,Sales consultant,< 1 year,MORTGAGE,20000.0,NaN,NaN,other,Other,705xx,LA,69.96,0,Sep-2003,0,NaN,NaN,16,0,5863,18.8%,28,w,0,NaN,Joint App,66000.0,32.72,0,0,169662,1,2,1,2,10.0,43585,85.0,0,4,1013,46.0,31200,10,2,5,7,10604.0,4533.0,37.9,0,0,159.0,53,19,2,2,22.0,NaN,4.0,NaN,0,6,10,6,7,12,13,14,10,16,0.0,0,0,2,100.0,0.0,0,0,209852,49448,7300,58652,6169.0,Sep-2003,0.0,2.0,7.0,22.9,3.0,3.0,0.0,0.0,NaN,Cash
5,54509,NaN,40000,40000,36 months,6.67%,1229.06,A,A2,Consultant,3 years,OWN,150000.0,NaN,NaN,debt_consolidation,Debt consolidation,701xx,LA,0.78,0,Aug-2008,0,NaN,NaN,5,0,4335,1%,17,w,0,NaN,Individual,NaN,NaN,0,0,4335,1,0,0,1,24.0,0,NaN,2,2,3686,1.0,104600,0,0,0,3,867.0,94219.0,0.2,0,0,71.0,121,6,6,0,25.0,NaN,21.0,NaN,0,2,3,3,8,2,5,15,3,5,0.0,0,0,2,100.0,0.0,0,0,104600,4335,98000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash
6,27804,NaN,9000,9000,36 months,14.07%,307.91,C,C3,Contract Specialist,3 years,MORTGAGE,67183.0,NaN,NaN,debt_consolidation,Debt consolidation,986xx,WA,10.77,0,Aug-2002,0,29.0,NaN,7,0,8450,50.3%,13,w,0,29.0,Individual,NaN,NaN,0,0,21264,0,2,1,1,9.0,12814,43.0,1,1,3504,45.0,16800,0,0,0,2,3038.0,8350.0,50.3,0,0,187.0,137,9,9,1,9.0,29.0,NaN,29.0,1,4,4,5,7,5,5,7,4,7,0.0,0,0,2,69.2,40.0,0,0,46962,21264,16800,30162,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash
7,17725,NaN,2500,2500,36 months,13.58%,84.94,C,C2,Correction Officer,10+ years,OWN,92000.0,NaN,NaN,debt_consolidation,Debt consolidation,070xx,NJ,10.12,2,Aug-1988,1,9.0,NaN,5,0,2580,62.9%,14,w,1,33.0,Individual,NaN,NaN,0,56,153209,1,1,0,0,32.0,11427,59.0,1,1,1383,59.0,4100,0,2,1,1,38302.0,1520.0,62.9,0,0,128.0,128,4,4,5,4.0,13.0,6.0,13.0,4,2,2,2,3,3,2,4,2,5,0.0,0,0,1,53.8,0.0,0,0,233598,14007,4100,19498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash
8,49577,NaN,21000,21000,36 months,5.31%,632.32,A,A1,Line Maintenance Shift Manager,9 years,RENT,133000.0,NaN,NaN,debt_consolidation,Debt consolidation,913xx,CA,8.77,0,Jun-2003,0,59.0,NaN,26,0,9154,6.8%,37,w,0,NaN,Joint App,205000.0,6.23,0,0,27424,2,7,0,1,16.0,18270,56.0,4,5,2010,16.0,135000,1,2,0,6,1055.0,90084.0,8.2,0,0,176.0,168,2,2,2,2.0,NaN,16.0,NaN,0,9,12,11,12,12,19,23,12,26,0.0,0,0,4,97.3,0.0,0,0,167624,27424,98100,32624,22328.0,Apr-2005,0.0,2.0,13.0,9.2,0.0,15.0,0.0,0.0,NaN,Cash
9,55438,NaN,5200,5200,36 months,14.08%,177.93,C,C3,General Manager,10+ years,MORTGAGE,95000.0,NaN,NaN,debt_consolidation,Debt consolidation,383xx,TN,22.26,0,Oct-2003,2,NaN,NaN,19,0,67129,50.4%,40,w,0,NaN,Individual,NaN,NaN,0,0,287991,1,1,1,3,3.0,11954,86.0,0,0,16256,54.0,133200,2,0,2,3,16000.0,50949.0,56.8,0,0,79.0,170,35,3,4,36.0,NaN,3.0,NaN,0,9,10,11,14,11,16,24,10,19,0.0,0,0,1,100.0,45.5,0,0,368371,79083,118000,13953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DirectPay

In [32]:
df.drop(['id', 'member_id'], axis=1, inplace=True)

In [33]:
df.shape

(9437, 101)

In [34]:
df.dtypes

loan_amnt                                int64
funded_amnt                              int64
term                                    object
int_rate                                object
installment                            float64
grade                                   object
sub_grade                               object
emp_title                               object
emp_length                              object
home_ownership                          object
annual_inc                             float64
url                                    float64
desc                                   float64
purpose                                 object
title                                   object
zip_code                                object
addr_state                              object
dti                                    float64
delinq_2yrs                              int64
earliest_cr_line                        object
inq_last_6mths                           int64
mths_since_last_delinq                 float64
mths_since_last_record                 float64
open_acc                                 int64
pub_rec                                  int64
revol_bal                                int64
revol_util                              object
total_acc                                int64
initial_list_status                     object
collections_12_mths_ex_med               int64
                                        ...
num_bc_tl                                int64
num_il_tl                                int64
num_op_rev_tl                            int64
num_rev_accts                            int64
num_rev_tl_bal_gt_0                      int64
num_sats                                 int64
num_tl_120dpd_2m                       float64
num_tl_30dpd                             int64
num_tl_90g_dpd_24m                       int64
num_tl_op_past_12m                       int64
pct_tl_nvr_dlq                         float64
percent_bc_gt_75                       float64
pub_rec_bankruptcies                     int64
tax_liens                                int64
tot_hi_cred_lim                          int64
total_bal_ex_mort                        int64
total_bc_limit                           int64
total_il_high_credit_limit               int64
revol_bal_joint                        float64
sec_app_earliest_cr_line                object
sec_app_inq_last_6mths                 float64
sec_app_mort_acc                       float64
sec_app_open_acc                       float64
sec_app_revol_util                     float64
sec_app_open_act_il                    float64
sec_app_num_rev_accts                  float64
sec_app_chargeoff_within_12_mths       float64
sec_app_collections_12_mths_ex_med     float64
sec_app_mths_since_last_major_derog    float64
disbursement_method                     object
Length: 101, dtype: object

In [35]:
df.term.value_counts()

 36 months    6885
 60 months    2552
Name: term, dtype: int64

### I considered stripping the "months" out the TERM column, and making this a numeric - but because there are only two values, it should be fine or even better to leave as a categorical

In [36]:
##df.rename(columns={'term':'term_in_months'}, inplace=True)

In [37]:
""" REMOVE ALL NON NUMERIC CHARACTERS FROM A STRING """
#df['term_in_months'].replace(regex=True,inplace=True,to_replace=r'\D',value=r'')

' REMOVE ALL NON NUMERIC CHARACTERS FROM A STRING '

In [38]:
df['int_rate'].replace(regex=True,inplace=True,to_replace=r'\D',value=r'')

In [39]:
df.describe()

,loan_amnt,funded_amnt,installment,annual_inc,url,desc,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,total_acc,collections_12_mths_ex_med,mths_since_last_major_derog,annual_inc_joint,dti_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog
count,9437.000000,9437.000000,9437.000000,9.437000e+03,0.0,0.0,9417.000000,9437.000000,9437.000000,4200.000000,1415.000000,9437.000000,9437.000000,9437.000000,9437.000000,9437.000000,2249.000000,1.138000e+03,1138.000000,9437.000000,9437.000000,9.437000e+03,9437.000000,9437.000000,9437.000000,9437.000000,9115.000000,9437.000000,7847.000000,9437.000000,9437.000000,9437.000000,9436.000000,9.437000e+03,9437.000000,9437.000000,9437.000000,9437.000000,9436.000000,9287.000000,9274.000000,9437.000000,9437.000000,9115.000000,9437.000000,9437.000000,9437.000000,9437.000000,9300.000000,1974.000000,8664.000000,2818.000000,9437.000000,9437.000000,9437.000000,9437.000000,9437.000000,9437.000000,9437.000000,9437.000000,9437.000000,9437.000000,9162.0,9437.000000,9437.000000,9437.000000,9437.000000,9287.000000,9437.000000,9437.000000,9.437000e+03,9437.000000,9437.000000,9437.000000,1138.000000,1138.000000,1138.000000,1138.000000,1111.000000,1138.000000,1138.00000,1138.000000,1138.000000,384.000000
mean,15032.165943,15032.165943,448.078389,8.103811e+04,NaN,NaN,18.203075,0.237258,0.568719,36.557619,82.421908,11.399173,0.158313,14460.292042,24.091660,0.016955,46.249889,1.259403e+05,19.210615,0.000106,177.883543,1.571442e+05,1.085303,2.629649,0.869662,1.851118,18.151509,36251.421850,71.224035,1.425453,2.968104,5377.285578,52.293769,3.808182e+04,1.336971,1.762424,2.417188,5.171983,15334.108521,16440.538925,44.783707,0.008901,0.760729,121.853758,172.866165,13.528028,7.538307,1.559288,23.167849,40.659574,6.494575,37.421221,0.490304,3.290982,4.904525,4.764862,7.436473,8.806824,8.083925,13.519763,4.850588,11.373212,0.0,0.000106,0.061778,2.458620,94.712748,29.247378,0.143266,0.014941,1.987447e+05,50893.823143,26505.944156,45536.927625,33754.321617,0.743409,1.723199,11.503515,55.714851,3.066784,12.93761,0.054482,0.069420,36.627604
std,10226.817759,10226.817759,294.359990,7.113891e+04,NaN,NaN,16.985250,0.773240,0.817536,21.512869,23.824635,5.906751,0.404442,22128.176966,12.566372,0.139371,21.136457,7.374207e+04,8.200247,0.010294,1279.819056,1.815402e+05,1.254425,2.874524,1.065057,1.732841,23.569063,45135.796708,22.870386,1.635073,2.763985,7021.270601,22.202497,3.862773e+04,1.696830,2.987670,2.597496,3.534603,19021.166605,21443.995929,30.204469,0.119723,42.610293,54.953702,96.544430,17.317717,8.300647,1.868337,32.360178,21.940518,5.657749,21.584542,1.399614,2.289760,3.325352,3.207750,4.733746,7.577541,4.961184,8.183589,3.218866,5.902177,0.0,0.010294,0.413448,2.111182,8.859934,34.430920,0.354273,0.190071,2.037358e+05,52370.417718,27284.238636,47439.995254,30146.061446,1.100522,1.919627,6.664104,27.483368,3.291593,8.56629,0.394133,0.283706,23.963841
min,1000.000000,1000.000000,30.460000,0.000000e+00,NaN,NaN,0.000000,0.000000,0.000000,1.000000,3.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,2.683200e+04,0.610000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,4.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
25%,7000.000000,7000.000000,224.010000,4.700000e+04,NaN,NaN,10.080000,0.000000,0.000000,19.000000,67.000000,7.000000,0.000000,4079.000000,15.000000,0.000000,30.000000,8.459000e+04,13.125000,0.000000,0.000000,2.780800e+04,0.000000,1.000000,0.000000,1.000000,6.000000,8633.000000,58.000000,0.000000,1.000000,1749.000000,37.000000,1.580000e+04,0.000000,0.000000,1.000000,3.000000,3008.500000,3049.500000,18.600000,0.000000,0.000000,85.000000,108.000000,4.000000,3.000000,0.000000,6.000000,24.000000,2.000000,20.000000,0.000000,2.000000,3.000000,3.000000,4.000000,4.000000,5.000000,8.000000,3.000000,7.000000,0.0,0.000000,0.000000,1.000000,92.500000,0.000000,0.000000,0.000000,5.497800e+04,18367.000000,9500.000000,14896.000000,14223.500000,0.000000,0.000000,7.000000,35.100000,1.000000,7.00000,0.000000,0.000000,16.000000
50%,12000.000000,12000.000000,363.790000,6.700000e+04,NaN,NaN,16.480000,0.000000,0.000000,34.000000,86.000000,10.000000,0.000000,9041.000000,22.000000,0.000000,47.000000,1.113125e+05,18.785000,0.000000,0.000000,9.238600e+04,1.000000,2.000000,1.000000,1.000000,11.000000,23227.000000,74.000000,1.000000,2.000000,3967.000000,53.000000,2.820000e+04,1.000000,1.000000,2.000000,4.000000,8417.500000,9296.000000,41.800000,0.000000,0.000000,129.000000,156.000000,8.000000,5.000000,1.000000,13.000000,39.000000,5.000000,35.000000,0.000000,3.000000,4.000000,4.000000,6.000000,7.000000,7.000000,12.000000,4.000000,10.000000,0.0,0.000000,0.000000,2.000000,100.000000,16.700000,0.000000,0.000000,1.341810e+05,36940.000000,18800.000000,33088.000000,25907.000000,0.000000,1.000000,10.000000,57.500000,2.000000,11.00000,0.000000,0.000000,34.000000
75%,20000.000000,20000.000000,615.250000,9.700000e+04,NaN,NaN,23.600000,0.000000,1.000000,52.000000,101.000000,14.000000,0.000000,17658.000000,31.000000,0.000000,63.000000,1.500000e+05,24.570000,0.000000,0.000000,2.370320e+05,2.000000,3.000000,1.000000,3.000000,21.000000,46760.000000,87.000000,2.000000,4.000000,7094.000000,68.000000,4.780000e+04,2.000000,2.000000,3.000000,7.000000,21533.750000,21333.500000,69.800000,0.000000,0.000000,152.000000,222.000000,17.000000,10.000000,3.000000,27.000000,56.000000,10.000000,52.000000,0.000000,4.000000,6.000000,6.000000,10.000000,12.000000,10.000000,17.000000,6.000000,14.000000,0.0,0.000000,0.000000,3.000000,100.000000,50.000000,0.000000,0.000000,2.887390e+05,65039.000000,34300.000000,61000.000000,43133.500000,1.000000,3.000000,15.000000,77.850000,4.000000,17.00000,0.000000,0.000000,56.000000
max,40000.000000,40000.000000,1628.080000,3.098500e+06,NaN,NaN,999.000000,14.000000,5.000000,117.000000,120.000000,58.000000,8.000000,530099.000000,103.000000,2.000000,122.000000,1.350000e+06,39.900000,1.000000,67647.000000,3.770575e+06,10.000000,31.000000,6.000000,13.000000,342.000000,624244.000000,272.000000,17.000000,28.000000,389468.000000,143.000000,1.093900e+06,24.000000,42.000000,34.000000,31.000000,290044.000000,331957.000000,132.200000,4.000000,2882.000000,822.000000,685.000000,251.000000,148.000000,20.000000,530.000000,138.000000,24.000000,122.000000,27.000000,26.000000,39.000000,38.000000,48.000000,82.000000,52.000000,66.000000,31.000000,58.000000,0.0,1.000000,11.000000,18.000000,100.000000,100.000000,2.000000,8.000000,4.212007e+06,662134.000000,460900.000000,529864.000000,270060.000000,6.000000,17.000000,38.000000,212.600000,27.000000,51.00000,10.000000,3.000000,111.000000